    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>LISTA DE PROGRAMACIONES</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>


<div class='card'>
  <div class='card-content'>
  <a type='button' class='btn btn-primary' href='#adm_test/Program_Test/add?id='>Agregar</a>
    <table class="table table-striped table-hover table-condensed responsive-table">
      <thead>
        <tr>
          <td>#</td>
          <td>Descripción</td>
          <td>Fecha</td>
          <td>Test Programados</td>
          <td>Creado por:</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.description}}</td>
          <td>{{ foo.start_date|date:'d/m/Y'}} al {{ foo.end_date|date:'d/m/Y'}}</td>
          <td>
              <a href="#{% url 'Test_Programed' %}?program_test={{ foo.id }}">Ver</a>
          </td>
          <td>{{ foo.programmer}}</td>
          <td>
            <a style='color: red' href='#adm_test/Program_Test/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
            </a>
          </td>
          <td>
            <a style='color: red' onclick="delete_maintenance('adm_test','Program_Test',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
