<br>
<div class="box-title">
    <div class="col-md-4">
        <div class="col-md-3"><input class="sel form-control input-sm"  type="number" id="selP" value="{{pag}}"></div>
        <div class="col-md-9">Registros por Página</div>
    </div>
    <div class="col-md-5" style="text-align: center;">
        <a onclick="add()" class="puntero" title="Agregar"data-toggle="modal" ><i class="fa fa-plus-square fa-2x" ></i></a>
        <a id="imprime" href="#"title="Imprimir" ><i class="fa fa-print fa-2x"></i></a>
        <a id="excel" href="#" title="Excel" ><i class="fa fa-file-excel-o fa-2x"></i></a>
    </div>
    <div class="col-md-3" style="text-align: center">

        <input class="search form-control  input-sm"  onkeyup="search(this,{{ search }},{{ values }},{{ template }})" type="text" placeholder="Buscar..." >
    </div>
</div><!-- fin box-title -->
<br>
