<div class='card-panel'><div class='col s12 m12 l12'>
<h4 align='center' style='color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86)'>{{ name|upper }} DIRECTIVESS </h4></div>
<a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><div class='row'>
  <form onsubmit="save_maintenance(this,{% if pk %}{{ pk }}{% endif %},'directives','adm_institucion' );return false;"
  >
    {% csrf_token %}
    <div class='col s12 m4 l4 offset-l4 offset-m4'>
      <div class='input-field'>
        {{ form.ie }}
        {{ form.ie.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.directive }}
        {{ form.directive.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.occupation }}
        {{ form.occupation.label_tag }}
      </div>
    </div>
    <div class='col s12 m12 l12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div></div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});$('label').addClass('active').attr({'data-error':'Correcto','data-success':'Incorrecto'}); M.updateTextFields();</script>