<div class='col s12 m12 l12'>
<h4 align='center' style='color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86)'>DIRECTIVOS </h4></div>
<a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a>
<div class='card'>
  <div class='card-content'>
<div class="row">
    <div class="col s12 m12 12">
        <form id="file_data_s">
             {% csrf_token %}
            <input type="file" required name="file"  value="cargar directivos">
            <input type="hidden" name="room" value="directivos">
            <button class="btn btn-floating green" type="submit" name="action">
                <i class="fa fa-arrow-circle-o-right"></i>
            </button>
        </form>
    </div>
</div>
{% if  object_list %}
    <table class='table table-striped table-hover table-condensed responsive-table'>
      <thead>
        <tr>
          <td>#</td>
          <td>directivo</td>
          <td>ocupación</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.directive}}</td>
          <td>{{ foo.occupation}}</td>
          <td>
            <a style='color: red' href='#{% url "update_directives" pk=foo.id %}?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red;cursor: pointer'  onclick="delete_maintenance('adm_institucion','directives',{{ foo.id}})" >
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% else %} 
 <div class ='col s12 m6 l6' > 
<div class ='card-panel teal  white-text' > Sin Datos </div> 
</div>
{% endif %}
<script>$('table').dataTable(datEs);
$("#file_data_s").submit(function (e) {
   e.preventDefault();
   $("button[type=submit]").attr("disabled","true");
    formData = new FormData($(this)[0]);
    $.ajax({
            url: 'adm_institucion/Classroom/cargaralumnos/',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,

            success: function(da){
                noti('success', da);
                traemedatos('adm_institucion/directives/listar');
                return false;
            },
            error: function (r) {
                $('.errorlist').remove();
                var errors = JSON.parse(r.responseText);
                        for (e in errors) {
                            var id = '#id_' + e;
                            $(id).after(errors[e]);
                        }
                return false;
            }

    });

});
</script>