<div class="row">
        <div class="col s12 m12 12" align="center">
            <h3>Terminaste con éxito, el test: {{ object_list.0.diagnostics.dimensiones.test|title }}</h3>
            <a href="#{% url 'listar test' %}">Lista de Test</a>
            ó
            <a href="{% url 'cerrarsesion' %}">Cerrar Sesión</a>
        </div>

  </div>
