<div class="col s12 m12 l12">
    <h4 align='center' style='color: #3293a2'><b>MI INFORMACIÓN PERSONAL</b></h4>
    <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
        <i class='fa fa-backward'></i>
        Atras
    </a>
</div>
<div class='card'>
    <div class='card-content'>
        <div class="row container-bs">
            <form method="post" onsubmit="savePersonal(this); return false;">
                {% csrf_token %}
                <input type="hidden" name="pat" value="{{ pat }}">
                <div class="row">
                    <h4>MIS DATOS</h4>
                    <div class="input-field col s6">
                        <input id="lugar_nacimiento" name="lugar_nacimiento" type="text" class="validate"
                               required="required">
                        <label for="lugar_nacimiento">Lugar de nacimiento</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="direcciion_actual" name="direcciion_actual" type="text" class="validate"
                               required="required">
                        <label for="direcciion_actual">Direccion actual</label>
                    </div>
                </div>
                <h4>1. MI SITUACIÓN FAMILIAR</h4>
                <div class="col s12" align="right">
                    <a class="waves-effect waves-light btn" onclick="agregar_campos()">Agregar otro familiar</a>
                </div>
                <div class="col s12">
                    <table>
                        <thead>
                        <tr>
                            <th>Nombre de mi familia</th>
                            <th>Nivel de parentesco</th>
                            <th>Ocupación</th>
                            <th>Edad</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <input id="Nombre_familia" name="Nombre_familia[]" type="text" class="validate"
                                       required="required">
                                <label for="Nombre_familia">Nombre de mi familia</label>
                            </td>
                            <td>
                                <input id="parentesco" name="parentesco[]" type="text" class="validate"
                                       required="required">
                                <label for="parentesco">Nivel de parentesco</label>
                            </td>
                            <td>
                                <input id="ocupacion" name="ocupacion[]" type="text" class="validate"
                                       required="required">
                                <label for="ocupacion">Ocupación</label>
                            </td>
                            <td>
                                <input id="Edad" name="Edad[]" type="number" class="validate" required="required">
                                <label for="Edad">Edad</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h4>2. Mi relación con las personas que vivo es:</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="2" type="radio" id="Mala" value="Mala" required="required"/>
                            <label for="Mala">Mala</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="2" type="radio" id="Indiferente" value="Indiferente"/>
                            <label for="Indiferente">Indiferente</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="2" type="radio" id="Regular" value="Regular"/>
                            <label for="Regular">Regular</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="2" type="radio" id="buena" value="buena"/>
                            <label for="buena">Buena</label>
                        </p>
                    </div>

                    <!-- pregunta dos-->

                    <div class="col s12">
                        <h4>3. ¿Cuál es el nivel escolar que alcanzó tu papá?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Sin escolaridad" value="Sin escolaridad"
                                   required="required"/>
                            <label for="Sin escolaridad">Sin escolaridad</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Primaria incompleta" value="Primaria incompleta"/>
                            <label for="Primaria incompleta">Primaria incompleta</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Primaria completa" value="Primaria completa"/>
                            <label for="Primaria completa">Primaria completa</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Secundaria incompleta" value="Secundaria incompleta"/>
                            <label for="Secundaria incompleta">Secundaria incompleta</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Secundaria completa" value="Secundaria completa"/>
                            <label for="Secundaria completa">Secundaria completa</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="Profecional" value="Profecional"/>
                            <label for="Profecional">Profesional</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="No tengo papá" value="No tengo papá"/>
                            <label for="No tengo papá">No tengo papá</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="3" type="radio" id="No se" value="No se"/>
                            <label for="No se">No sé</label>
                        </p>
                    </div>

                    <!-- pregunta 4-->

                    <div class="col s12">
                        <h4>4. ¿Cuál es el nivel escolar que alcanzó tu mamá?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Sin escolarida" value="Sin escolaridad"
                                   required="required"/>
                            <label for="Sin escolarida">Sin escolaridad</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Primaria incomplet" value="Primaria incompleta"/>
                            <label for="Primaria incomplet">Primaria incompleta</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Primaria complet" value="Primaria completa"/>
                            <label for="Primaria complet">Primaria completa</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Secundaria incomplet" value="Secundaria incompleta"/>
                            <label for="Secundaria incomplet">Secundaria incompleta</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Secundaria complet" value="Secundaria completa"/>
                            <label for="Secundaria complet">Secundaria completa</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="Profeciona" value="Profecional"/>
                            <label for="Profeciona">Profesional</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="No tengo pap" value="No tengo papá"/>
                            <label for="No tengo pap">No tengo papá</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="4" type="radio" id="No s" value="No se"/>
                            <label for="No s">No sé</label>
                        </p>
                    </div>

                    <!-- pregunta 5-->

                    <div class="col s12">
                        <h4>5. ¿Tu papá ingiere bebidas alcohólicas?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Diario" value="Diario" required="required"/>
                            <label for="Diario">Diario</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Cada ocho días" value="Cada ocho días"/>
                            <label for="Cada ocho días">Cada ocho días</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Cada quince días" value="Cada quince días"/>
                            <label for="Cada quince días">Cada quince días</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Mensual" value="Mensual"/>
                            <label for="Mensual">Mensual</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Dos o cinco veces al año"
                                   value="Dos o cinco veces al año"/>
                            <label for="Dos o cinco veces al año">Dos o cinco veces al año</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="Una vez al año" value="Una vez al año"/>
                            <label for="Una vez al año">Una vez al año</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="No bebe" value="No bebe"/>
                            <label for="No bebe">No bebe</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="5" type="radio" id="No tengo papá" value="No tengo papá"/>
                            <label for="No tengo papá">No tengo papá</label>
                        </p>
                    </div>

                    <!-- pregunta 6-->

                    <div class="col s12">
                        <h4>6. ¿Tu mamá ingiere bebidas alcohólicas?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Diario1" value="Diario" required="required"/>
                            <label for="Diario1">Diario</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Cada ocho días1" value="Cada ocho días"/>
                            <label for="Cada ocho días1">Cada ocho días</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Cada quince días1" value="Cada quince días"/>
                            <label for="Cada quince días1">Cada quince días</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Mensual1" value="Mensual"/>
                            <label for="Mensual1">Mensual</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Dos o cinco veces al año1"
                                   value="Dos o cinco veces al año"/>
                            <label for="Dos o cinco veces al año1">Dos o cinco veces al año</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="Una vez al año1" value="Una vez al año"/>
                            <label for="Una vez al año1">Una vez al año</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="No bebe1" value="No bebe"/>
                            <label for="No bebe1">No bebe</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="6" type="radio" id="No tengo papá1" value="No tengo papá"/>
                            <label for="No tengo papá1">No tengo papá</label>
                        </p>
                    </div>

                    <!-- pregunta 7-->

                    <div class="col s12">
                        <h4>7. En casa confío mis inquietudes, preocupaciones, sentimientos a:<input type="text"
                                                                                                     name="7"
                                                                                                     required="required">
                        </h4>
                    </div>


                    <!-- pregunta 8-->

                    <div class="col 12">
                        <h4>8. Explico las razones por las que confío en las personas que indiqué:<input type="text"
                                                                                                         name="8"
                                                                                                         required="required">
                        </h4>
                    </div>

                    <!-- pregunta 9-->

                    <div class="col s12">
                        <h4>9. En casa, no mantengo una buena relación con: <input type="text" name="9"
                                                                                   required="required"></h4>
                    </div>
                    <!-- pregunta 10-->

                    <div class="col s12">
                        <h4>10. Explico las razones por las que no mantengo una buena relación con la persona que
                            indiqué<input type="text" name="10" required="required"></h4>
                    </div>
                    <!-- pregunta 11-->

                    <div class="col s12">
                        <h4>11. En casa confío mis inquietudes, preocupaciones, sentimientos a:<input type="text"
                                                                                                      name="11"
                                                                                                      required="required">
                        </h4>
                    </div>
                    <!-- pregunta 12-->


                    <div class="col s12">
                        <h4>12. En los dos últimos año nos hemos mudado de casa: </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="12" type="radio" id="No2" value="No" required="required"/>
                            <label for="No2">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="12" type="radio" id="Si2" value="Si"/>
                            <label for="Si2">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 13-->


                    <div class="col s12">
                        <h4>13. Si mi respuesta fue sí, explica las razones:<input type="text" name="13"></h4>
                    </div>

                    <!-- pregunta 14-->


                    <div class="col s12">
                        <h4>14. En casa, comparto la habitación en la que duermo: </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="14" type="radio" id="No3" value="No" required="required"/>
                            <label for="No3">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="14" type="radio" id="Si3" value="Si"/>
                            <label for="Si3">Si</label>
                        </p>
                    </div>
                    <!-- pregunta 15-->


                    <div class="col s12">
                        <h4>15. Si mi respuesta fue sí, explica con quién o quienes<input type="text" name="15"></h4>
                    </div>

                    <!-- pregunta 16-->

                    <div class="col s12">
                        <h4>16. En los dos últimos años nos hemos mudado de localidad (pueblo, ciudad)</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="16" type="radio" id="No4" value="No" required="required"/>
                            <label for="No4">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="16" type="radio" id="Si4" value="Si"/>
                            <label for="Si4">Si</label>
                        </p>
                    </div>
                    <!-- pregunta 17-->

                    <div class="col s12">
                        <h4>17. Mi sustento económico depende de:</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="17" type="radio" id="Papá5" value="Papá" required="required"/>
                            <label for="Papá5">Papá</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="17" type="radio" id="Mamá5" value="Mamá"/>
                            <label for="Mamá5">Mamá</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="17" type="radio" id="Ambos5" value="Ambos"/>
                            <label for="Ambos5">Ambos</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="17" type="radio" id="Independiente5" value="Independiente"/>
                            <label for="Independiente5">Independiente</label>
                        </p>
                    </div>
                    <!--<div class="col s12">
                        <h4>Otros Si mi respuesta fue otros indica de quienes depende</h4>
                        <input type="text" name="17">
                    </div>-->
                    <!-- pregunta 18-->

                    <div class="col s12">
                        <h4>18. (Respondo sí mi respuesta anteriormente fue independiente) Mi nivel económica es: </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="18" type="radio" id="Bajo6" value="Bajo"/>
                            <label for="Bajo6">bajo</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="18" type="radio" id="Regular6" value="Regular"/>
                            <label for="Regular6">Regular</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="18" type="radio" id="Bueno6" value="Bueno"/>
                            <label for="Bueno6">Bueno</label>
                        </p>
                    </div>
                    <!-- pregunta 19-->


                    <div class="col s12">
                        <h4>19. (Respondo sí mi respuesta anterior fue independiente) las siguientes personas dependen
                            de mí:<input type="text" name="19"></h4>
                    </div>

                    <!-- pregunta 20-->

                    <div class="col s12">
                        <div class="col s12">
                            <h4>20. (Respondo sí mis respuesta anterior fue independiente) Mi nivel económico no es
                                suficiente para: </h4>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Alimentación7" value="Alimentación"/>
                            <label for="Alimentación7">Alimentación</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Gastos académicos (estudios)7"
                                   value="Gastos académicos (estudios)"/>
                            <label for="Gastos académicos (estudios)7">Gastos académicos (estudios)</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Transporte7" value="Transporte"/>
                            <label for="Transporte7">Transporte</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Vestimenta7" value="Vestimenta"/>
                            <label for="Vestimenta7">Vestimenta</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Salud7" value="Salud"/>
                            <label for="Salud7">Salud</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="20" type="radio" id="Diversión7" value="Diversión"/>
                            <label for="Diversión7">Diversión </label>
                        </p>
                    </div>
                    <!-- pregunta 21-->

                    <div class="col s12">
                        <h4>21. Mi salud física es: </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="21" type="radio" id="Bajo" value="Bajo8" required="required"/>
                            <label for="Bajo8">bajo</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="21" type="radio" id="Regular8" value="Regular"/>
                            <label for="Regular8">Regular</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="21" type="radio" id="Bueno8" value="Bueno"/>
                            <label for="Bueno8">Bueno</label>
                        </p>
                    </div>
                    <!-- pregunta 22-->

                    <div class="rcol s12">
                        <h4>22. Actualmente padezco de la siguiente enfermedad.<input type="text" name="22"></h4>
                    </div>
                    <!-- pregunta 23-->

                    <div class="col s12">
                        <h4>23. Mi salud mental: </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="23" type="radio" id="Bajo9" value="Bajo" required="required"/>
                            <label for="Bajo9">bajo</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="23" type="radio" id="Regular9" value="Regular"/>
                            <label for="Regular9">Regular</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="23" type="radio" id="Bueno9" value="Bueno"/>
                            <label for="Bueno9">Bueno</label>
                        </p>
                    </div>
                    <!-- pregunta 24-->

                    <div class="col s12">
                        <h4>24. ¿Por qué?<input type="text" name="24"></h4>
                    </div>
                    <!-- pregunta 25-->

                    <div class="col s12">
                        <h4>25. Mis cualidades o virtudes son (señala 3):<input type="text" name="25"
                                                                                required="required"></h4>
                    </div>
                    <!-- pregunta 26-->


                    <div class="col s12">
                        <h4>26. Mis debilidades o aspectos a mejorar son (señala 3):<input type="text" name="26"
                                                                                           required="required"></h4>
                    </div>

                    <!-- pregunta 27-->


                    <div class="col s12">
                        <h4>27. La(s) persona(s) en la que más confió son (señala 3) <input type="text" name="27"
                                                                                            required="required"></h4>
                    </div>

                    <!-- pregunta 28-->


                    <div class="col s12">
                        <h4>28. Marca el/los grado(s) que has repetido a lo largo de tu vida escolar </h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Primer grado de primaria11"
                                   value="Primer grado de primaria"/>
                            <label for="Primer grado de primaria11">Primer grado de primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Segundo de primaria11" value="Segundo de primaria"/>
                            <label for="Segundo de primaria11">Segundo de primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Tercero de primaria11" value="Tercero de primaria"/>
                            <label for="Tercero de primaria11">Tercero de primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Cuarto de Primaria11" value="Cuarto de Primaria"/>
                            <label for="Cuarto de Primaria11">Cuarto de Primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Quinto de Primaria11" value="Quinto de Primaria"/>
                            <label for="Quinto de Primaria11">Quinto de Primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Sexto de primaria11" value="Sexto de primaria"/>
                            <label for="Sexto de primaria11">Sexto de primaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Primero de secundaria11" value="Primero de secundaria"/>
                            <label for="Primero de secundaria11">Primero de secundaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Segundo de Secundaria11" value="Segundo de Secundaria"/>
                            <label for="Segundo de Secundaria11">Segundo de Secundaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Tercero de secundaria11" value="Tercero de secundaria"/>
                            <label for="Tercero de secundaria11">Tercero de secundaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Cuarto de secundaria11" value="Cuarto de secundaria"/>
                            <label for="Cuarto de secundaria11">Cuarto de secundaria</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="28" type="radio" id="Quinto de secundaria11" value="Quinto de secundaria"/>
                            <label for="Quinto de secundaria11">Quinto de secundaria</label>
                        </p>
                    </div>
                    <!-- pregunta 29-->


                    <div class="col s12">
                        <h4>29. Si he marcado que repetí, explica el motivo por la que crees que ha sido:<input
                                type="text" name="29"></h4>
                    </div>

                    <!-- pregunta 30-->

                    <div class="col s12">
                        <div class="col s12">
                            <h4>30. Mi rendimiento académico es: </h4>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="30" type="radio" id="Bajo12" value="Bajo" required="required"/>
                            <label for="Bajo12">bajo</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="30" type="radio" id="Regular12" value="Regular"/>
                            <label for="Regular12">Regular</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="30" type="radio" id="Bueno12" value="Bueno"/>
                            <label for="Bueno12">Bueno</label>
                        </p>
                    </div>
                    <!-- pregunta 31-->


                    <div class="col s12">
                        <h4>31. ¿Por qué?:<input type="text" name="31"></h4>
                    </div>

                    <!-- pregunta 32-->

                    <div class="col s12">
                        <div class="col s12">
                            <h4>32. ¿Cuándo estoy en clase puedo expresar lo que pienso? </h4>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="32" type="radio" id="No13" value="No" required="required"/>
                            <label for="No13">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="32" type="radio" id="Aveces13" value="Aveces"/>
                            <label for="Aveces13">A veces</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="32" type="radio" id="Si13" value="Si"/>
                            <label for="Si13">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 33-->


                    <div class="col s12">
                        <h4>33. ¿Por qué?:<input type="text" name="33"></h4>
                    </div>

                    <!-- pregunta 34-->

                    <div class="col s12">
                        <div class="col s12">
                            <h4>34. ¿Cuándo estoy en clase puedo expresar lo que siento? </h4>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="34" type="radio" id="No14" value="No" required="required"/>
                            <label for="No14">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="34" type="radio" id="Aveces14" value="Aveces"/>
                            <label for="Aveces14">A veces</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="34" type="radio" id="Si14" value="Si"/>
                            <label for="Si14">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 35-->


                    <div class="col s12">
                        <h4>35. ¿Por que?:<input type="text" name="35"></h4>
                    </div>

                    <!-- pregunta 36-->

                    <div class="col s12">
                        <div class="col s12">
                            <h4>36. ¿Cuándo estoy en clase puedo exponer con tranquilidad? </h4>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="36" type="radio" id="No15" value="No" required="required"/>
                            <label for="No15">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="36" type="radio" id="Aveces15" value="Aveces"/>
                            <label for="Aveces15">A veces</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="36" type="radio" id="Si15" value="Si"/>
                            <label for="Si15">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 37-->


                    <div class="col s12">
                        <h4>37. ¿Por qué?:<input type="text" name="37"></h4>
                    </div>

                    <!-- pregunta 38-->

                    <div class="col s12">
                        <h4>38. ¿Cuándo estoy en clase puedo trabajar en equipo con tranquilidad?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="38" type="radio" id="No16" value="No" required="required"/>
                            <label for="No16">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="38" type="radio" id="Aveces16" value="Aveces"/>
                            <label for="Aveces16">A veces</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="38" type="radio" id="Si16" value="Si"/>
                            <label for="Si16">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 39-->


                    <div class="col s12">
                        <h4>39. ¿Por qué?:<input type="text" name="39"></h4>
                    </div>

                    <!-- pregunta 40-->

                    <div class="col s12">
                        <h4>40. ¿En mis tareas escolares recibo ayuda?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="40" type="radio" id="No17" value="No" required="required"/>
                            <label for="No17">No</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="40" type="radio" id="Aveces17" value="Aveces"/>
                            <label for="Aveces17">A veces</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="40" type="radio" id="Si17" value="Si"/>
                            <label for="Si17">Sí</label>
                        </p>
                    </div>
                    <!-- pregunta 41-->
                    <div class="col s12">
                        <h4>41. Si mi respuesta fue Sí o A veces explico quién o quienes me ayudan:<input type="text"
                                                                                                          name="41">
                        </h4>
                    </div>

                    <!-- pregunta 42-->

                    <div class="col s12">
                        <h4>42. ¿Para el desarrollo de mis tareas cuento con?</h4>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="42" type="radio" id="Espacio designado en casa18"
                                   value="Espacio designado en casa" required="required"/>
                            <label for="Espacio designado en casa18">Espacio designado en casa</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="42" type="radio" id="Computadora18" value="Computadora"/>
                            <label for="Computadora18">Computadora</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="42" type="radio" id="Acceso a internet18" value="Acceso a internet"/>
                            <label for="Acceso a internet18">Acceso a internet</label>
                        </p>
                    </div>
                    <div class="col s3">
                        <p>
                            <input name="42" type="radio" id="Otros18" value="Otros"/>
                            <label for="Otros18">Otros</label>
                        </p>
                    </div>
                    <!-- pregunta 43-->


                    <div class="col s12">
                        <h4>43. Si mi respuesta fue Otros, explica:<input type="text" name="43"></h4>
                    </div>
                    <!-- pregunta 44-->


                    <div class="col s12">
                        <h4>44. En este año escolar lo que quiero lograr es:<input type="text" name="44"
                                                                                    required="required"></h4>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <button id="pasar" class="waves-effect waves-light btn">Guardar</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
    function agregar_campos() {
        var html = "";
        html += '<tr>';
        html += '<td>';
        html += '<input id="Nombre_familia" name="Nombre_familia[]" type="text" class="validate" required="required">';
        html += '<label for="Nombre_familia">Nombre de mi familia</label>';
        html += '</td>';
        html += '<td>';
        html += '<input id="parentesco" name="parentesco[]" type="text" class="validate" required="required">';
        html += '<label for="parentesco">Nivel de parentesco</label>';
        html += '</td>';
        html += '<td>';
        html += '<input id="ocupacion" name="ocupacion[]" type="text" class="validate" required="required">';
        html += '<label for="ocupacion">Ocupación</label>';
        html += '</td>';
        html += '<td>';
        html += '<input id="Edad" name="Edad[]" type="number" class="validate" required="required">';
        html += '<label for="Edad">Edad</label>';
        html += '</td>';
        html += '</tr>';
        $("tbody").append(html)
    }
    function savePersonal(t) {
        $("#pasar").prop('disabled',true);
        $.post("test_psyco/testestudiante/guardar/", $(t).serialize() ).done(function (data) {
            noti("success", "Finalizado correctamente");
            window.location.href = "#test_psyco/mistest/listar"
        }).error(function () {
            noti("error", "no guardado");
        });
    }
</script>