<style>
    #global {
	height: 550px;
	overflow-y: scroll;
         padding: 2em;
}
        .bar-toggle-m{
            position: relative;
            font-size: 3em;
            top: -2rem;
        }

    </style>
<div class="content-box border-top border-blue"  id="global">
    <h1 align="center" style="color: rgb(106, 179, 186)"><p>TEST AUTOCONCEPTO</p></h1>

     <div class="panel-body pad0B" >

              <h4 style="color: rgb(109, 184, 214)">INSTRUCCIONES:</h4>
            <p class="mrg15B">
              Lea cada una de ellas cuidadosamente y conteste con un valor entre (1-99) según su grado de acuerdo con cada frase.
                <br>
             Por ejemplo, si una frase dice: <br><br>
            <b style="color: black">- La música  ayuda al bienestar humano </b><br>
            Y usted esta de acuerdo, contestará con un valor alto, como por ejemplo el <b>94</b> <br><br>
                Vea cómo se anotaría en la hoja de respuesta. <br>
                <b style="color: black">La música ayuda al bienestar humano ................................................................ 94 <br><br></b>
               No olvide que dispone de muchas opciones de respuesta,en concreto puede elegir entre 99 valores. <br>
                Escoja el que mas ajuste a su criterio <br>
            <br>
            </p>
            <h3 style="text-after-overflow: 3px">RECUERDE, CONTESTE CON LA MÁXIMA SINCERIDAD</h3><br>

    </div>
    <input type="hidden" name="validadortiempo" id="validadortiempo">
    <input type="hidden" name="idprogramacion" id="idprogramacion" value="{{ idprogramacion }}">
    <input type="hidden" name="iddetprogramacion" id="iddetprogramacion" value="{{ iddetpro }}">
    <button class="btn" onclick="comenzar_tests(1)" name="action">Comenzar test <i class="mdi-content-send right"></i></button>

    <div id="result_test"></div></div>

    {% include "modal_test.html" %}


    {% load static %}

<script src="{% static 'js/emocional.js' %}"></script>
