<style>
    #global {
	height: 550px;
	overflow-y: scroll;
         padding: 2em;
}
        .bar-toggle-m{
            position: relative;
            font-size: 3em;
            top: -2rem;
        }

    .ui-state-hover{
        background: #cfebe2;
    }

</style>
<div class="content-box border-top border-blue"  id="global">
    <h1 align="center" style="color: rgb(106, 179, 186)"><p>TEST AUTOCONCEPTO</p></h1>

     <div class="panel-body pad0B" >



    </div>
    <input type="hidden" name="validadortiempo" id="validadortiempo">
    <input type="hidden" name="idprogramacion" id="idprogramacion" value="{{ idprogramacion }}">
    <input type="hidden" name="iddetprogramacion" id="iddetprogramacion" value="{{ iddetpro }}">
    <button class="btn" onclick="start_test(1)" name="action">Comenzar test <i class="mdi-content-send right"></i></button>

    <div id="result_test"></div>
</div>

    {% include "modal_test.html" %}


    {% load static %}

<script src="{% static 'js/appTest/af5.js' %}"></script>
