<h1 align="center" style="color: rgb(106, 179, 186)"><p>DIAGNÓSTICO DEL TEST {{ object_list.0.diagnostics.dimensiones.test|upper }}</p></h1>
  <div class="row">
  <input type="hidden" name="historial" id="historial" value="{{ object_list.0.history_id }}">
        <div class="col s12 m12 12">
            {% for foo in object_list %}
                <p>puntaje: {{ foo.score }}</p>
              <div class="card {{ foo.diagnostics.color }} darken-1">
                <div class="card-content white-text" align="center">
                      <span class="card-title"><strong>{{ foo.diagnostics.dimensiones.nombre|title }}</strong></span>
                      <p style="font-size: 1.2em;">{{ foo.diagnostics.descripcion }}</p>
                </div>
              </div>
            {% endfor %}
        </div>

  </div>
