<center><h1>Valoración del sistema</h1></center>
<form id="for_valoracion_sistema" name="valoracion_sistema">
    <input type="hidden" name="historial" id="historial" value="{{ historial }}" >
    {% csrf_token %}
<table>
    <tr>
        <td>1.</td>
        <td>Muy de acuerdo.</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Algo de acuerdo.</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Ni acuerdo ni desacuerdo.</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Algo desacuerdo.</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Muy en desacuerdo.</td>
    </tr>
</table>
    <table border="1">
        <tr>
            <td>preguntas</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td><p>1. En la parte Académica el sistema pudo dar con los resultados que usted posee.</p></td>
            <td><p><input type="radio" name="p1" value="1" id="p1" checked><label for="p1"></label></p></td>
            <td><p><input type="radio" name="p1" value="2" id="p2" ><label for="p2"></label></p></td>
            <td><p><input type="radio" name="p1" value="3" id="p3"><label for="p3"></label></p></td>
            <td><p><input type="radio" name="p1" value="4" id="p4"><label for="p4"></label></p></td>
            <td><p><input type="radio" name="p1" value="5" id="p5"><label for="p5"></label></p></td>
        </tr>
        <tr>
            <td><p>2. En cuanto lo Social el sistema pudo dar con los resultados que usted tiene sobre su persona.</p></td>
            <td><p><input type="radio" name="p2" value="1" id="q1" checked><label for="q1"></label></p></td>
            <td><p><input type="radio" name="p2" value="2" id="q2"><label for="q2"></label></p></td>
            <td><p><input type="radio" name="p2" value="3" id="q3"><label for="q3"></label></p></td>
            <td><p><input type="radio" name="p2" value="4" id="q4"><label for="q4"></label></p></td>
            <td><p><input type="radio" name="p2" value="5" id="q5"><label for="q5"></label></p></td>
        </tr>
        <tr>
            <td><p>3. En lo Familiar el sistema pudo dar con los resultados que usted tiene sobre cómo se siente aceptado en sus familia.</p></td>
            <td><p><input type="radio" name="p3" value="1" id="r1" checked><label for="r1"></label></p></td>
            <td><p><input type="radio" name="p3" value="2" id="r2"><label for="r2"></label></p></td>
            <td><p><input type="radio" name="p3" value="3" id="r3"><label for="r3"></label></p></td>
            <td><p><input type="radio" name="p3" value="4" id="r4"><label for="r4"></label></p></td>
            <td><p><input type="radio" name="p3" value="5" id="r5"><label for="r5"></label></p></td>
        </tr>
        <tr>
            <td><p></p><p>4. En lo Físico el sistema pudo dar con los resultados que usted valora sobre su físico.</p></td>
            <td><p><input type="radio" name="p4" value="1" id="s1" checked><label for="s1"></label></p></td>
            <td><p><input type="radio" name="p4" value="2" id="s2"><label for="s2"></label></p></td>
            <td><p><input type="radio" name="p4" value="3" id="s3"><label for="s3"></label></p></td>
            <td><p><input type="radio" name="p4" value="4" id="s4"><label for="s4"></label></p></td>
            <td><p><input type="radio" name="p4" value="5" id="s5"><label for="s5"></label></p></td>
        </tr>
        <tr>
            <td><p>5. En lo Emocional el sistema pudo dar con los resultados que usted conoce acerca de sus emociones.</p></td>
            <td><p><input  type="radio" name="p5" value="1" id="t1" checked><label for="t1"></label></p>
            </td>
            <td><p><input type="radio" name="p5" value="2" id="t2"><label for="t2"></label></p></td>
            <td><p><input type="radio" name="p5" value="3" id="t3"><label for="t3"></label></p></td>
            <td><p><input type="radio" name="p5" value="4" id="t4"><label for="t4"></label></p></td>
            <td><p><input type="radio" name="p5" value="5" id="t5"><label for="t5"></label></p></td>
        </tr>
    </table>
</form>

<button class="btn" onclick="mandar_valoracion()" id="mandar_Vaoracion">Enviar</button>
<script>
    function mandar_valoracion(){
        a=$("#for_valoracion_sistema").serialize();
        $.post("test_psyco/test/guardar_valoracion/",a,function(data){
            $("#resultados").empty().html(data);
        })
    }

    function migrar_valoracion(){
        a=$("#for_valoracion_sistema").serialize();
        $.post("test_psyco/test/migrar_valoracion/",a,function(data){
            alert("se guardo correctamente");
        })
    }
</script>