{% extends "base_security.html" %}
{% block title %}
  mindi
{% endblock %}
{% block css %}
    {% load static %}
   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


{% endblock %}

{% block contenido %}




    <div class="footer">
            <p>Hardsoft © 2016 Todos los derechos reservados</p>
    </div>


{% endblock %}
