<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="pagina web de la Institucion">
        <meta name="keywords" content="">
        <meta name="author" content="www.mindi.com">
    {% block css %}

    {% endblock %}

</head>

<body id="top" class="has-header-search">

    {% block contenido %}
    {% endblock %}
<script>


</script>
    {% block js %}
    
    {% endblock %}

</body>
</html>