{% extends "Institucion/base.html" %}
{% block title %}
Mindi - {{ request.session.institucion.iniciales }}
{% endblock %}
{% block css %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/system/css/styles_web.css' %} ">
{% endblock %}

{% block contenido %}
<nav id="header" class="tt-nav transparent-header" role="navigation">
    <div class="nav-wrapper container header-sticky light-header row">
        <a id="logo-container" href="#" class="col s12 m12 brand-logo">{{ request.session.institucion.nombre }}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/">Home</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!-- Hero Section -->
<section class="banner-12 parallax-bg bg-fixed fullscreen-banner valign-wrapper">
    <div class="row container">
        <div class="col s12 m8 l4 offset-l8 offset-m4">
            <div class="login-wrapper">
                <div class="card-wrapper">
                    <form>
                        {% csrf_token %}
                        <div class="row hide" id="msmloginp">
                            <div class="col s12 m12 l12">
                                <div id="pace-progress">
                                    <div id="pace-bar"></div>
                                </div>
                                <div id="msmlogin" class="alert-dismissible">
                                    <!--<span class="puntero" onclick="cerraralert('#msmlogin')">&times;</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <input type="text" id="username" name="username" required="required">
                            <label for="username">Usuario</label>
                            <div class="bar"></div>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" name="password" required="required">
                            <label for="password">Contraseña</label>
                            <div class="bar"></div>
                        </div>
                        <div class="button-container" align="center">
                            <button type="submit" class="btn btn-sm btn-default waves-effect waves-light">
                                Ingresar
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    </div><!-- /.container -->
</section>
<!-- Hero Section End -->

<footer class="footer footer-four">
    <div class="primary-footer brand-bg text-center">
        <div class="row" align="center">
            <div class="col s12 m12 l12">
                <div class="footer-logo">
                    {{ request.session.institucion.nombre }}
                </div>

                <span class="copy-text">Copyright &copy;  {% now "Y" %} <a href="http://www.mindi.com/" target="_blank">Mindi</a> &nbsp;
                              | &nbsp;  All Rights Reserved &nbsp; | &nbsp;  Designed By <a target="_blank"
                                                                                            href="http://www.facebook.com/awainer">Anthony Wainer</a></span>
                <div class="footer-intro">
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.primary-footer -->
</footer>
<!-- Preloader -->
<div id="preloader">
    <div class="preloader-position">
        <span style="color: deepskyblue; font-size: 3em">Bienvenido a Mindi!</span>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
<!-- End Preloader -->
{% endblock %}
{% block js %}
<!-- jQuery -->
<script src="{% static 'assets/jquery/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'assets/system/js/scripts_web.js' %}"></script>
<script src="{% static 'assets/system/js/login.js' %}"></script>
{% endblock %}