<div class="col s12 m12 l12">
    <h4 align='center' style='color: #3293a2'><b>LISTA DIAGNOSTICOS</b></h4>
    <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
        <i class='fa fa-backward'></i>
        Atras
    </a>
</div>

<div class='card'>
    <div class='card-content'>
        <a type='button' class='btn btn-success'
        onclick="generarTodos({{ request.GET.test_programed }})"
        >Generar
            Todos</a>
        <table class="table table-striped table-hover table-condensed responsive-table">
            <thead>
            <tr>
                <td>#</td>
                <td>Test</td>
                <td>Pacientes</td>
                <td>Fecha</td>
                <td>Generar</td>
            </tr>
            </thead>
            <tbody>
            {% for foo in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ foo.test_programed }}</td>
                <td>{{ foo.patient }}</td>
                <td>{{ foo.date_aplication }}</td>
                <td>
                    <a style='color: blue;cursor: pointer'
                       onclick="generarDiagnostic({{ foo.id }})">
                        <i class='fa fa-hand-grab-o puntero'></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% csrf_token %}
    </div>
</div>
<script>$('table').dataTable(datEs);

function generarDiagnostic(id) {
    l = Lobibox.confirm({
        msg: "¿Está seguro de Generar: ?",
        callback: function ($this, type, ev) {
            if (type === "yes") {
                $("#preloader").fadeIn("slow");
                $("#preloader span").html("..Generating Diagnostic - Mindi :)!");
                $.post('/test_psyco/mistest/generate_diagnostic/', {
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                    'history': id
                }).done(function (data) {
                    noti('success', data);
                    $("#preloader").fadeOut("slow");
                }).fail(function (data) {
                    $("#preloader").fadeOut("slow");
                        noti('error', data);
                    }
                );
            }
        }
    });
}

function generarTodos(id) {
    l = Lobibox.confirm({
        msg: "¿Está seguro de Generar: ?",
        callback: function ($this, type, ev) {
            if (type === "yes") {
                $("#preloader").fadeIn("slow");
                $("#preloader span").html("..Generating Diagnostic - Mindi :)!");
                $.post('/test_psyco/mistest/generate_diagnostic_all/', {
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                    'test_pro': id
                }).done(function (data) {
                    noti('success', data);
                    $("#preloader").fadeOut("slow");
                }).fail(function (data) {
                        noti('error', data);
                        $("#preloader").fadeOut("slow");
                    }
                );
            }
        }
    });
}

</script>