{% if  object_list %}
    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>LISTA DE MIS TEST ASIGNADOS</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>

<div class='card'>
  <div class='card-content'>
  {% for foo in object_list %}
        <h5><b>{{ forloop.counter }}. {{ foo.program.description|capfirst }}</b></h5>
        <table class="table table-striped table-hover table-condensed responsive-table">
          <thead>
            <tr>
              <td>#</td>
              <td>Test</td>
              <td>Fecha Límite</td>
            </tr>
          </thead>
        <tbody>
          {% for i in foo.test %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.test_programed.test|upper}}</td>
              <td>{{ i.test_programed.date }} a las {{ i.test_programed.time}}</td>
              <td>
                {% if i.test_programed.is_past_due %}
                   Test Finalizado
                {% else %}
                    {% if i.status_test == "No Realizado" %}
                        <!--temporal para el test ficha personal del alumno-->
                        {% if i.test_programed.test_id == 6 %}
                            <a href="#test_psyco/testestudiante/show/?test={{ i.test_programed.test_id }}&pat={{ i.id }}">
                            {% else %}
                            <a href="#test_psyco/test/show/?test={{ i.test_programed.test_id }}&pat={{ i.id }}">
                            {% endif %}
                        <!-- fin de temporal para test nnn -->

                            <i class="mdi-action-thumb-up prefix"></i>
                            Realizar
                        </a>
                    {% elif i.status_test == "Por Diagnosticar" %}
                        Por diagnosticar

                    {% elif i.status_test == "Realizado" %}
                        <a href="#test_psyco/test/result/?hist={{ i.id }}">Ver Resultado</a>
                    {% else %}
                        {{ i.status_test }}
                    {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endfor %}

</div>
</div>
{% else %}
    <div class="col md s12 m6 l6">
        <div class="card-panel teal  white-text " >No se le asignado ningún test</div>
    </div>
{% endif %}

