<!DOCTYPE html>
<html lang="en" class="auto-scroll">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta http-equiv="content-language" content="en"/>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'assets/test_template/css/base-bundle-min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/test_template/css/template.css' %}"/>
    <link id="themeCssLink" rel="stylesheet" href="{% static 'assets/test_template/css/palette.css' %}"/>
    <style>
        .sm-progressbar {
            height: 58px;
            background-color: rgb(6, 107, 123);
        }

        .survey-page .survey-title {
            color: rgb(6, 107, 123);
        }

        .v3theme .survey-page .ok-button, .v3theme .survey-page-button.next-button, .v3theme .survey-page-button.done-button, .v3theme .survey-page-button.prev-button, .v3theme .survey-page .survey-page-button, .v3theme .survey-page .new-button, .v3theme .survey-page .file-upload-btn, .v3theme .survey-page .file-upload-btn .qq-upload-button-selector, .v3theme .survey-page .password-submit-button {
            background-color: rgb(6, 107, 123);
        }

        /* ================= Preloader ==================== */
        .progress .indeterminate:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
        }
        .progress .indeterminate:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
        *, *:before, *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #fff;
            z-index: 999999;
            text-align: center;
        }

        #preloader .preloader-position {
            width: 100%;
            margin: 0 auto;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #preloader .progress {
            height: 2px;
            margin: 35px 0;
        }

        #preloader .progress .indeterminate {
            background: #03a9f4;
        }
        .progress {
            position: relative;
            height: 4px;
            display: block;
            width: 100%;
            background-color: #acece6;
            border-radius: 2px;
            margin: .5rem 0 1rem 0;
            overflow: hidden;
        }

    </style>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preloader-position">
        <span style="color: deepskyblue; font-size: 3em">.. loading Questions - Mindi!</span>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
<!-- End Preloader -->
<div id="patas" class="translate survey-body modern-browser">
    <main class="v3theme text_center">
        <article class="survey-page survey-page-white auto-scroll">
            <section class="survey-page-body">
                <div class="survey-title-container clearfix survey-title-align-left has-survey-title ">
                    <div class="survey-title-table-wrapper">
                        <table role="presentation" class="survey-title-table table-reset">
                            <tbody>
                            <tr>
                                <td class="survey-title-cell">
                                    <h1 class="survey-title user-generated notranslate">
                                        <span class="title-text">
                                              {{ test.0.description|upper }}
                                        </span>
                                    </h1>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form action="#" method="post" onsubmit="saveQuestions(this); return false"
                      enctype="multipart/form-data"
                      novalidate data-form>
                    <div class="questions clearfix">
                        {% for q in questions %}
                        <div class="question-click-shield" tabindex="-1"></div>
                        <div class="question-row clearfix overlay" tabindex="-1">
                            <div data-question-type="single_choice_vertical_two_col" class="question-container">
                                <div id="question-field-{{q.id}}"
                                     data-qnumber="{{forloop.counter}}"
                                     data-question-id="{{q.id}}"
                                     class=" question-single-choice-radio qn question">
                                    <fieldset class=" question-fieldset" data-radio-button-group>
                                        <legend class="question-legend">
                                            <h4 id="question-title-{{q.id}}" class="question-title-container">
                                                <span class="user-generated notranslate">{{forloop.counter}} - {{ q.descripcion }}</span>
                                            </h4>
                                        </legend>
                                        <div class="question-body clearfix notranslate ">
                                            <div class="answer-option-col">
                                                {% for a in q.alternativas %}
                                                <div class="answer-option-cell">
                                                    <div data-sm-checkbox class="checkbox-button-container ">
                                                        <input id="{{q.id}}_{{a.id}}" name="{{q.id}}[]"
                                                               type="checkbox" class="checkbox-button-input"
                                                               value="{{a.id}},{{ a.puntaje }}"/>
                                                        <label class="answer-label checkbox-button-label no-touch touch-sensitive clearfix"
                                                               for="{{q.id}}_{{a.id}}"> <span
                                                                class="checkbox-button-display "></span>
                                                            <span class="checkbox-button-label-text question-body-font-theme user-generated ">
                                                                {{a.alternativas__descripcion}}
                                                        </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <button id="{{q.id}}-ok" class="new-button ok-button user-generated notranslate hide"
                                type="submit">
                            Guardar
                        </button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="survey-submit-actions center-text clearfix">
                        <button type="submit" id="pasar"
                                class="btn small done-button survey-page-button user-generated notranslate">
                            Guardar
                        </button>
                    </div>
                </form>
            </section>
            <footer class="persistent-progress-bar">
                <div class="sm-progressbar">
                    <div class="sm-progress-container">
                        <div id="progress-bar-text" class="sm-progress notranslate" tabindex="0">
                            <span data-response-count="0">0</span> de <span
                                data-question-count="{{cantQ}}">{{cantQ}}</span> respondido </div>
                                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     aria-labelledby="progress-bar-text" class="bar">
                                    <div style="width: 0%">&nbsp;</div>
                                </div>
                        {% csrf_token %}
                    </div>
                    <div class="sm-progress notranslate" tabindex="0"
                         style="margin-top: -20px; font-size: 10px; color: white;">
                        <strong>Todos los derechos Reservados - Author : {{ test.0.author|upper }}</strong>
                    </div>
                </div>
            </footer>
        </article>
    </main>
</div>

<script src="{% static 'assets/test_template/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/test_template/js/bundle-min.js' %}"></script>
<script>
    $(window).load(function () {
        setTimeout(function () {
            /* === Preloader === */
            $("#preloader").fadeOut("slow");
        }, 300);
    });

    function saveQuestions(a) {
        if ($(a).serializeArray().length > 0) {
            $("#pasar").prop("disabled", true);
            let data = {
                'answer': [],
                'value_marked': '',
                'history': {{history}},
            'time_marked': 5,
                'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val()
        };

            $.each($(a).serializeArray(), function (key, value) {
                data['answer'].push(value.value);
            });

            $("#preloader").fadeIn("slow");
            $("#preloader span").html("..Saving Answer - Mindi :)!");

            $.post("/test_psyco/test/guardar_test/", data)
                .done(function () {
                    parent.finTest();
                }).fail(
                function (data) {
                    parent.noti('error', "No enviado" + data);
                }
            );
        } else {
            parent.noti('error', "Respuestas no enviadas")
        }
        return false;
    }
</script>


</body>
</html>

