{% for foo in object_list %}
{% for foo in  foo.test %}
{% if foo.id|slugify  == request.GET.pat%}
<div class="card-panel">
    <h2 style="color: rgb(106, 179, 186); font-size: 1.73em"> {{ foo.test_programed.test.description|upper }}</h2>
    {{ foo.test_programed.test.instructions|safe }}
    <button class="btn" onclick="
    {% if foo.test_programed.test.template|slugify  == "new"   %}
    start_new_test()
    {% else %}
    start_test(1,{{ foo.test_programed.test_id }})
    {% endif %}

    " name="action">Comenzar <i
            class="mdi-content-send right"></i></button>
    <div id="result_test"></div>
</div>
{% include "modal_test.html" %}
<div id="aaaa" style="display: none; background: rgb(73, 97, 115);">
    <iframe src="test_psyco/show/template/?test={{ foo.test_programed.test_id }}&pat={{ foo.id }}"
            style=" width: 100%;height: 100%;">
    </iframe>
</div>
{% endif %}
{% endfor %}

{% endfor %}


{% load static %}
<script src="{% static 'assets/system/js/appTest/baseTest.js' %}"></script>

