<a onclick="atras()" style="color: red; cursor: pointer"  >
    <i class="fa fa-backward"></i>
     Atras
</a><br>


<h3 style="text-align: center;text-transform: uppercase">{{ name }} Usuario</h3> <br>

<form  method="POST" onsubmit="formuser(this);return false"
       {% if request.GET.id %}
       idd="{{ request.GET.id }}
       {% endif %}
       "
       enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="row">
    <div class="col m6">
        <div class="row">
            <div class="col m6">
                <strong>{{ form.dni.label }}</strong>
                {{ form.dni }}
                <strong style="color: green; font-size: 11px">*{{ form.dni.help_text }} </strong> <br>
            </div>
            <div class="col m6">
                <strong>{{ form.sex.label }}</strong>
                {{ form.sex }}
            </div>

        </div>
        <br>
        <strong>{{ form.names.label }}</strong>
        {{ form.names }}<br>


        <div class="row">
            <div class="col m6">
                <strong>{{ form.first_surname.label }}</strong>
                {{ form.first_surname }}
            </div>
            <div class="col m6">
                <strong>{{ form.second_surname.label }}</strong>
                {{ form.second_surname }}
            </div>
        </div>
        <br>

    </div>
    <div class="col m6">
        <div class="row">
            <div class="col m8">
                <strong>{{ form.email.label }}</strong><br>
                {{ form.email }}<br>
            </div>
            <div class="col m4">
                <strong>{{ form.birth_date.label }}</strong>
                {{ form.birth_date }}
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col m4">
                <strong>{{ form.profiles.label }}</strong>
                {{ form.profiles }}
            </div>
        </div>
        <strong>{{ form.foto.label }}</strong>
        {{ form.foto }}
    </div>
    </div>

    {{ form.password1 }}
    {{ form.password2 }}
    {{ form.username }}


    <br>
    <div class="row">
        <button type="submit" class="btn btn-alt btn-hover btn-info btn-danger" >
        <span>{{ name }} </span>
        <i class="glyph-icon icon-arrow-right"></i>
        </button>
    </div>

</form>
{% load static  %}
<script>
    $("select").select2({width:'100%'});
</script>

<script type="text/javascript" src="{% static 'assets/system/js/appSecurity/users.js' %}"></script>
