<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 60%" ><b>{{ name|upper }} USUARIOS</b></span>
</div>

<div class="card">
    <div class="card-content">

<div class="row">
    <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},
            'users','security' );return false;"
    >
        {% csrf_token %}
        <div class="col s4"></div>
        <div class="col s4">

        </div>

        <div class="col s12" align="center">
            <button type="submit" class="waves-effect waves-light btn">
                <i class="material-icons left">send</i>{{ name }}
            </button>
        </div>
    </form>
</div>
</div>
</div>

<script>
    $("select").select2();
</script>
