<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE USUARIOS</b></span>
    <a href='#security/users/add/?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>

<div class="row">
    <div class="col s10">
        <div class="card">
    <div class="card-content">
        <table class="striped">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Apellidos y Nombres</td>
                    <td>DNI</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                {% for foo in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ foo.first_surname|title }} {{ foo.second_surname|title }}, {{ foo.names|title }}</td>
                        <td>{{ foo.dni}}</td>
                        <td>
                            <a  style="color: red" href="#matenimientos/permission/update/{{ foo.id}}/?id={{ foo.id}}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                        <td>
                            <a style="color: red" onclick="delete_maintenance('matenimientos','permission',{{ foo.id}})" style="cursor: pointer">
                                <i class="fa fa-trash puntero"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
    </div>
    <div class="col s2">
        <div class="card">
            <div class="card-content">
                <b align="center">Filtro</b>
                <hr>
                     <ul>
                         <li>
                             <a href="javascript:void(0)"  {% if request.GET.profiles__id == '' %} style="color:green"
                             {% endif %} onclick="change_url('profiles__id','')">Todo</a>
                         </li>
                    {% for m in profiles %}
                         <li>
                             <a href="javascript:void(0)"  {% if request.GET.profiles__id|slugify == m.id|slugify %} style="color:green"
                             {% endif %} onclick="change_url('profiles__id',{{ m.id }})">* {{m.description}}</a>
                         </li>
                    {% endfor %}

                     </ul>
            </div>
        </div>

    </div>
</div>

<script>
$('table').dataTable(datEs);
function change_url(n,id) {
        url = window.location.hash;
        url=url.split("?");
        url2 = url[0].substr(1, url[0].length);

        if (url.length>1){
            pa = url[1].split("&");
            if (pa.length<=1){
                no = pa[0].split("=");
                if(no[0] == n){
                    nuu = "";
                }else{
                    nuu = pa+"&"
                }
                nu = nuu+n+"="+id;
            }else{
                nu = "";

                bf = nb =false;
                for (i in pa){

                    if (pa[i].split("=")[0] == n){
                        if (i==pa.length-1){
                            bb=""; aa="&"
                        }else {
                            bb="&";
                            aa="";
                            if (i>0) {
                                aa = "&"
                            }
                        }
                        nu+=aa+n+"="+id+bb;
                        bf = true;
                        nb = bf;
                    }else{
                        if (nb){
                            cs ="";
                            nb=false;
                        }else if(i==0){
                            cs=""
                        }else{
                            cs = "&";
                        }
                        nu+=cs+pa[i];
                    }
                }
                if (bf==false){
                    nu+="&"+n+"="+id
                }
            }
        }else{
            nu = n+"="+id;
        }
        window.location.hash=url[0]+"?"+nu;
    }
</script>

