<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE USUARIOS</b></span>
    <a onclick="add()" class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>

<div class='card'>
  <div class='card-content'>

<div class="panel">
    <div class="panel-body">
        <div class="panel table-responsive">
            {% with 'USUARIOS' as TIT  %}
                {% include "grid/head.html" %}
            {% endwith %}
        <table class="bordered striped">
            <thead>
                <tr>
                     <th class="center-align"><input type="checkbox" id="all" data-content="eliminar"></th>
                    <th class="center-align">N°</th>
                    <th class="center-align">NOMBRES Y APELLIDOS</th>
                    <th class="center-align">PERFIL</th>
                    <th class="center-align">USUARIO</th>
                    <th class="center-align">DNI</th>
                    <th class="center-align">EDITAR</th>
                    <th class="center-align">ELIMINAR</th>
                    <th class="center-align">PERMISO</th>
                </tr>
            </thead>
            <tbody>

                {% include "system/users/../../datoAjaxUsers.html" %}
            </tbody>
        </table>
        {% with lista as paginacion  %}
            {% include "grid/pagination.html" %}
        {% endwith %}
        </div>
    </div>
</div>
  </div>
</div>

<script>

$("#all").click(function(){
  if ($(this).prop("checked")) {
    $('.padre input').prop('checked', true);
  }else{

    $('.padre input').prop('checked', false);
   }
});
    //focus input
$(".search").focus();
$(".search").attr('style', 'color:black;border-radius: 5px;padding-left: 10px;');
url= "security/usuarios"
//enviar nro de pagina
function ajax_get_update(nro,pag){
       $.get(url+'/listar',{'page':nro,'pag':pag}, function(data){
            html=''+data;
            $( '#resultados' ).empty().html(html);
        });
    }
    $( '.pg' ).click( function() {
        page = $(this).attr('name');
        pag=$('#selP').val();
        ajax_get_update(page,pag);
    });
//busqueda
  function search(t,table,list,v,tem) {
    campo = $(t).val().toLowerCase();
    tip = url;
    //alert(tip);
      if (campo != ""){
       $.get(tip+'/Buscar',{'campo':campo,'tabla':table,'list':list,'values':v,'template':tem}, function(data){
            if (data != "") {
                html=''+data;
            }else{html='<tr/><td>nose encontro coincidencias</td></tr>';}
            $( 'tbody' ).empty().html(html);
        });
     }else{
      ajax_get_update(1,$('#selP').val());
     }
  }
//seleccionar pagina ajax
$("#selP").blur(function(){
  $.get(url+"/listar", {'pag': $(this).val()}, function(data) {
    $( '#resultados' ).empty().html(data);
  });
});
$('.numberI').blur(function(){
  ajax_get_update($(this).val(),$(this).attr('id'));
});
    function add(){
        window.location.href = "#security/usuarios/register_users";

    }
    function moreUser(id){
        $.get('security/usuarios/about_users/',{'id':id},function(d){
             $('#resultados').empty().html(d);
        });
    }
    function updateUser(id){
        $.get('security/usuarios/actualizarUsuario/'+id+'/',function(d){
            $('#resultados').empty().html(d);
            $('form').attr('idd',id);
        });

    }
    function deleteUser(id){
        l = Lobibox.confirm({
            msg : "¿Está seguro de eliminar: ?",
            callback: function ($this, type, ev) {
                if(type=="yes"){
                    $.get('security/usuarios/eliminarUsuario/'+id+'/',function(d){
                       traemedatos('security/usuarios/listar');
                    });
                }
            }
        });

    }
    function permiso(id){
        $.get("security/usuarios/permisoPersoalizados",{ 'id':id },function(data){
            $('#resultados').empty().html(data);
        })
    }

    
    function Delall() {
        as = $("input[type=checkbox]").serialize();
        $.get('security/usuarios/deleteall/',as).done(
                function (d) {
                    noti('sucess',d);
                    traemedatos('security/usuarios');

                }
        )
    }
    function cargarfalsos() {
        $.get('security/usuarios/cargarfalso',as).done(
                function (d) {
                 $("tbody").empty().html(html);

                }
        )
    }
</script>