{% load static %}
<link href="{% static 'assets/system/css/fotoperfil.css' %}" rel="stylesheet"/>

 <div class="row">
  <b><h4 style="color: rgba(48, 151, 180, 0.91) ">EDITAR CUENTA</h4></b>
  <div class="col s12 m3 3">
     <div class="card">
      <div class="card-content center-align">
          <!-- para a foto -->
            <div class="ibox float-e-margins">
                <div>
                    <div class="  card ibox-content no-padding border-left-right" align="right" >
                        <form method="post" enctype="multipart/form-data" id="formularioImg" >
                            {% csrf_token %}
                            <div class="perfilI " style="cursor:pointer;">
                                <i class="pen mdi-image-edit"></i>
                                <input type="file"  id="imgInp" accept="image/*" name="foto" value="" placeholder="">
                                <img id="img" width="100%" class="vista img-responsive di est" src="" alt="">
                                <p id="p_arrastrar">Arrastar foto aquí</p>
                                {% if user.foto %}
                                    <img id="mos_img" alt="image" width="100%" class="img-responsive re" src="{{MEDIA_URL}}{{user.foto}}">
                                {% else %}
                                    <img alt="image" width="100%" class="img-responsive re" src="{{MEDIA_URL}}fotoperfil/miuser.jpg">
                                {% endif %}
                            </div>
                        </form>

                            <i onclick="guardarI('fotoprofile/')" style="color:green" class="fa fa-check fa-2x di bora puntero"></i>

                            <i onclick="hide_dropabble()" style="color:red" class="fa fa-ban fa-2x di xx bora puntero"></i>

                    </div>
                    <div id="impri" class="ibox-content profile-content">
                    </div>
                </div>
            </div>
         <!-- fin de la foto -->
          <!-- para actualizar y editar contraseña-->
          <div class=" card row animated fadeInRight" align="center">
                <div class="col s12 m12 12">
                    <button  onclick="contra()"class="puntero btn btn-green">
                        Cambiar Contraseña
                    </button>
                </div>


                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content" id="editar">

                    </div>
                </div>
           </div>
        <!-- fin  para actualizar y editar contraseña-->
      </div>
     </div>

  </div>

        <div class="col s12 m4 4" style="color: rgba(48, 151, 180, 0.91)">
                        <div class="card" style="color: rgba(48, 151, 180, 0.91)">
                            <div class="card-content ">
                                <span class="card-title"  style="color: #0a6aa1">DIRECCIÓN:</span>
                                <address>
                                    <strong><i class="fa fa-map-marker " ></i><b> Dirección: </b>{{user.address}}</strong><br>
                                    <abbr title="Phone"> </abbr><i class="fa fa-phone " ><b> Celular: </b>{{ user.cellphone }}</i><br>
                                    <i class="fa fa-fax " ><b> Teléfono:</b> {{user.telephone}}</i><br>
                                    <i class="fa fa-at "><b> Correo: </b>{{user.email}}</i>
                                </address>
                               <span class="card-title" style="color: #0a6aa1">DATOS</span>
                               <h6><i class="fa fa-clone " ></i><b > Dni:</b>{{user.dni}}</h6>
                               <h6><i class="fa fa-birthday-cake " ></i><b> Fecha Cumpleaños:</b> {{user.date_bith}}</h6>
                               <h6><i class="fa fa-venus-mars " ></i><b> Sexo:</b>
                                                          {%   if user.sex == 'm'  %}
                                                                Masculino
                                                           {% else %}
                                                                Femenino
                                                           {% endif %}
                               </h6>
                               <h6><i class="fa fa-building-o "></i><b> Fecha-Inscrip:</b> {{user.date_joined|date:"d/m/Y"}}</h6>


                          <div class="row">
                              <div class="col s12 m12 12">
                                  <button onclick="edi()" class="puntero waves-effect waves-light btn pink" >
                                  Editar Información
                                  </button>
                              </div>
                          </div>
                        </div>
        </div>
  </div>
        <div class="col s12 m5 5">
                        <div class="card">

                            <div class="card-content">
                                <span class="card-title"  style="color: #0a6aa1">MAPA</span>
                                <div id="map_canvas">
                                </div>
                            </div>

                        </div>

         </div>
  </div>
<script src="{%static 'assets/system/js/fotoperfil.js' %}"></script>

<script type="text/javascript">
function checkNetConnection(){
 jQuery.ajaxSetup({async:false});
 re="";
 r=Math.round(Math.random() * 10000);
 $.get("http://www.google.com",{subins:r},function(d){
  re=true;
 }).error(function(){
  re=false;
 });
 return re;
}
if (checkNetConnection) {
    $.when(
        $.getScript("https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAIqVrJnnSda53na7OX-JB_GvNPRuKB0c0"),
        $.Deferred(function (deferred) {
            $(deferred.resolve);
        })
    ).done(function () {

        var geocoder;
        var map;
        var address = "{{user.address}}";
        if (typeof google != "undefined") {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            if (geocoder) {
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[0].geometry.location);

                            var infowindow = new google.maps.InfoWindow(
                                {
                                    content: '<b>' + address + '</b>',
                                    size: new google.maps.Size(150, 50)
                                });

                            var marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                title: address
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        } else {
            $("#map_canvas").html("<p>Sin conexión a Internet no puedes usar mapa</p>");
        }

    });
}
</script>