{% extends "base_security.html" %}
{% block title %}
  mindi
{% endblock %}
{% block css %}
    {% load static  %}
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/material-design-icons/css/material-design-icons.min.css' %}" />

    <!-- IonIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ionicons/css/ionicons.min.css' %}" />

    <!-- WeatherIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}" />

   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->

{% endblock %}

{% block contenido %}

    <section id="sign-in">

        <!-- Background Bubbles -->
        <canvas id="bubble-canvas"></canvas>
        <!-- /Background Bubbles -->
        <div>
<form class="card-panel clearfix" id="name">

  <div class="row">
    <div class="col m6 s12">
      <div class="input-field">
        <i class="fa fa-user prefix"></i>
        <input id="input_name" type="text" name="name">
        <label for="input_name">Nombre</label>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="input-field">
        <i class="fa fa-envelope prefix"></i>
        <input id="input_email" type="email" name="email">
        <label for="input_email">Email</label>
      </div>
    </div>
  </div>

  <div class="input-field">
    <i class="fa fa-tag prefix"></i>
    <input id="input_username" type="text" name="subject">
    <label for="input_username">Telefono</label>
  </div>

  <div class="input-field">
    <i class="fa fa-comment prefix"></i>
    <textarea id="textarea-message" class="materialize-textarea" name="message"></textarea>
    <label for="textarea-message">Mensaje</label>
  </div>

  <p>
    <input type="checkbox" id="checkbox_copy" name="send_copy" />
    <label for="checkbox_copy">Send a copy to my e-mail address</label>
  </p>

  <button name="button" id="button" onclick="registrar();return false" class="waves-effect btn">Contactenos</button>

</form>
</div>
    </section>
    <div class="footer">
            <p>Hardsoft © 2016 Todos los derechos reservados</p>
    </div>


{% endblock %}
{% block js %}

    <!-- jQuery RAF (improved animation performance) -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-requestAnimationFrame/dist/jquery.requestAnimationFrame.min.js' %}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>


    <!-- Main -->
    <script type="text/javascript" src="{% static 'assets/_con/js/_con.js' %}"></script>

    <!-- Google Prettify -->
    <script type="text/javascript" src="{% static 'bower_components/code-prettify/src/prettify.js' %}"></script>

    <script src="{% static 'js/contacto.js' %}"></script>

{% endblock %}