 <div class='col s12 m12 l12'>
<h4 align='center' style='color: #2a95a2;text-shadow: 0px 0px 1px rgba(0, 16, 44, 0.86)'> HISTORIAL GENERAL DE PACIENTES  {% if request.GET.test_programed %} DEL TEST {{ object_list.0.test_programed|upper }}{% endif %}</h4>
 </div>

<a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a>
{% if  object_list %}
<div class='card'>
  <div class='card-content'>
<a type='button' class='btn btn-primary' href='#{% url "add_History_test_Patient" %}?{% if request.GET.test_programed %}&test_programed={{request.GET.test_programed }}{% endif %}'>Agregar</a>
    <table class='table table-striped table-hover table-condensed responsive-table'>
      <thead>
        <tr>
          <td>#</td>
          <td>Paciente</td>
          <td>idpatient</td>
          <td>Test</td>
          <td>Fecha de aplicación</td>
          <td>Estado</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead> 
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.patient}}</td>
          <td>{{ foo.id }}</td>
          <td>{{ foo.test_programed}}</td>
          <td>{{ foo.date_aplication}}</td>
          <td>
           {% if foo.status_test == "Realizado" %}
                        <a href="#test_psyco/test/result/?hist={{ foo.id }}">Ver Resultado</a>
            {% else %}
            {{ foo.status_test}}
            {% endif %}
          </td>
          <td>
            <a style='color: red' href='#{% url "update_History_test_Patient" pk=foo.id %}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red;cursor: pointer'  onclick="delete_maintenance('adm_test','History_test_Patient',{{ foo.id}})" >
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% else %}
 <div class ='col s12 m6 l6' > 
<div class ='card-panel teal  white-text' >
<a type='button' class='btn btn-primary' href='#adm_test/History_test_Patient/add?id={% if request.GET.test_programed %}&test_programed={{request.GET.test_programed }}{% endif %}'>Agregar</a>
    <br>
    Sin Datos
</div>
</div>
{% endif %}
<script>
    $('table').dataTable(datEs);
    $("select").formSelect();
</script>