<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta property="og:description" content="mindi, software de psicología">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="mindi,  software de psicología">
  <meta name="keywords" content=""  />
  <meta name="author" content="mindi - mindi">
  <meta name="robots" content="index,follow">

    <title>{% block title %}{% endblock %}</title>

    {% block css %}

    {% endblock %}

</head>

<body>
    {% block contenido %}
    {% endblock %}

    {% block js %}
        <!--<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        -->
    {% endblock %}

</body>
</html>