{% extends "base_security.html" %}
{% block title %}
  mindi
{% endblock %}
{% block css %}
    {% load static %}
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/material-design-icons/css/material-design-icons.min.css' %}" />

    <!-- IonIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ionicons/css/ionicons.min.css' %}" />

    <!-- WeatherIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}" />

   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->

{% endblock %}

{% block contenido %}
    <!-- Navbar -->
    <nav class="navbar-top">
        <div class="nav-wrapper container-bs">

            <!-- Logo -->
            <a href="/" class="brand-logo">
                mindi
            </a>
            <!-- /Logo -->

        </div>
    </nav>
    <!-- /Navbar -->

    <!-- Hero Section -->
    <div class="parallax-container valign-wrapper mt-50">
        <div class="parallax">
            <img src="{% static 'assets/_con/images/promo-hero.jpg' %}">
        </div>
        <div class="container-bs center-align white-text">
            <h1>
                <strong>mindi</strong> - la mejor plataforma para tu institución</h1>
            <h3 class="h4 mt-50 mb-40">Página en Construcción :)</h3>
            <a class="btn m-10 white black-text" href="/login"><i class="mdi-action-visibility left"></i>Ver Avance</a>
            <a class="btn m-10" href="/contacto"><i class="mdi-action-help left"></i>Contacto</a>
        </div>
    </div>
    <!-- /Hero Section -->

    <!-- Demo -->
    <!-- Demo -->
    <div class="promo-container">
        <div class="container-bs">

        </div>
    </div>
    <!-- /Demo -->

    <!-- Features -->
    <div class="promo-container teal lighten-1 white-text">
        <div class="container-bs">
            <h2 class="promo-title">¿Qué tenemos?</h2>

            <div class="row">
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="fa fa-cogs large"></i>
                        <h3>Kit de desarrollo</h3>
                        Listo para su uso con el kit de desarrollo de Gulp, SASS, Bower y plantillas Nunjucks que el desarrollo sea fácil.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="ion-social-angular large"></i>
                        <h3>AngularJS</h3>
                        Con es no sólo HTML5 plantilla de administración. Con es también AngularJS aplicación.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="mdi-maps-layers large"></i>
                        <h3>Material Design</h3>
                        componentes de tendencia de diseño de materiales están listos para usar debido a la biblioteca Materialize.css y Con las características adicionales.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="mdi-image-palette large"></i>
                        <h3>18 Combinaciones de colores</h3>
                        Elija uno de los esquemas de color predefinidos 18, basado en las paletas de diseño de materiales.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="mdi-av-web large"></i>
                        <h3>Más de 16 diseños</h3>
                        Puede utilizar el diseño en caja, cambiar las primeras posiciones navbar y la barra lateral.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="fa fa-bar-chart large"></i>
                        <h3>Visualización de datos</h3>
                        Incluye Flot, carrito, y Sparkline NVD3 bibliotecas de gráficos.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="mdi-action-shopping-cart large"></i>
                        <h3>eCommerce</h3>
                        Listo para usar las páginas de comercio electrónico.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="mdi-content-drafts large"></i>
                        <h3>Mailbox</h3>
                        Listo para usar el diseño del buzón.
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-feature">
                        <i class="fa fa-globe large"></i>
                        <h3>paginas adicionales</h3>
                        También consiguió Promo Una página de bloqueo de pantalla y las páginas de fondo, sesión, crea, etc ...
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Features -->

    <!-- Support -->
    <div class="promo-container">
        <div class="container-bs">
            <h2 class="promo-title">¿Tienes preguntas?</h2>
            <h3 class="promo-sub-title h5">Siéntete libre de preguntar</h3>

            <div class="align-center">
                <a href="/contacto" class="btn btn-large btn-block teal mw-280">Pregunta</a>
            </div>
        </div>
    </div>
    <!-- /Support -->

    <!-- Testimonials -->
    <div class="promo-container deep-purple">
        <div class="container-bs">
            <h2 class="promo-title white-text">Testimonios</h2>
            <h3 class="promo-sub-title h5 white-text">Que dicen de nosotros</h3>

            <div class="row">
                <div class="col l4">
                    <div class="promo-testimonial">
                        <em>
                            Gran trabajo realizado por el autor, aunque no hay mucho en la documentación, su estructura a nivel de componente.
                        </em>
                        <div class="promo-testimonial-icon">
                            <i class="mdi-editor-format-quote"></i>
                        </div>

                        <div class="promo-testimonial-foot">
                            <strong>- Nury Estrella</strong>
                            <br> Ing. de Sistemas
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-testimonial">
                        <em>
                           La mejor plantilla de administración que he usado hasta ahora. Fácil de editar, fácil de mantener. plantilla muy útil!
                        </em>
                        <div class="promo-testimonial-icon">
                            <img src="{% static 'assets/_con/images/promo-user-1.png' %}">
                        </div>
                        <div class="promo-testimonial-foot">
                            <strong>- Milton</strong>
                            <br> Analista de Sistemas
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="promo-testimonial">
                        <em>
                            A través de los años por venir, que nostrud ventaja aliquip de ella, pero para trabajar, hacer ejercicio, distrito escolar.
                        </em>
                        <a href="#" class="promo-testimonial-icon">
                            <i class="mdi-content-link"></i>
                        </a>
                        <div class="promo-testimonial-foot">
                            <strong>- Johanny</strong>
                            <br> CEO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Testimonials -->

    <!-- Purchase -->
    <div class="promo-container">
        <div class="container-bs">
            <h2 class="promo-title">¿Interesado? No llegue tarde y compre en mindi ahora..</h2>
            <h3 class="promo-sub-title h5">Un sistema facil y sencillo de usar</h3>

            <div class="align-center">
                <a href="/contacto" class="btn btn-large btn-block deep-purple mw-280">Contactar</a>
            </div>
        </div>
    </div>
    <!-- /Purchase -->

    <div class="footer">
            <p>mindi © 2018 Todos los derechos reservados</p>
    </div>


{% endblock %}
{% block js %}

    <!-- jQuery RAF (improved animation performance) -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-requestAnimationFrame/dist/jquery.requestAnimationFrame.min.js' %}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>


    <!-- Main -->
    <script type="text/javascript" src="{% static 'assets/_con/js/_con.js' %}"></script>



{% endblock %}