<button id="add">Add</button>
<body>
<table>
    <thead><tr>
    <th>item</th>
     <th>Perfil</th>
     <th>Modulos</th>
     <th>Permisos</th>
    <th>Accion</th>
    </tr>
    </thead>
    <tbody>
     {% for data in modulprofile %}
        <tr>
            <td>1 &nbsp;&nbsp;</td>
            <td>{{ data.description  }}&nbsp;</td>
           <td>{{ data.app_label }}/{{ data.model }}&nbsp;</td>
        <td>{{ data.codename  }}&nbsp;</td>
        <td>{{ data.name  }}&nbsp;</td>
        <td>{{ data.perfil_id }}&nbsp;</td>
         </tr>
    {% endfor %}
    </tbody>

</table>

</body>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal_m__a">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form id="form_mp" onsubmit="add_mp(this); return false;">
          {% csrf_token %}
            <select id="profile" name="profile">
                <option value="0"> Seleccione ...</option>
                {% for datap in DataProfile %}
                    <option value="{{datap.id  }}">{{ datap.description }}</option>
                {% endfor %}
            </select>
            <br>
            <select id="modules" name="modules">
                <option value="0"> Seleccione...</option>

                 {% for datax in DataModules %}
                    <option value="{{datax.id  }}">{{ datax.app_label }}/{{ datax.model }}</option>
                {% endfor %}
            </select>
            <div id="accion" >


            </div>

            <input type="submit"  value="enviar" />
            <div id="btx"></div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).on("click","#add",function () {
        $("#modal").modal("show");
    });

    $(document).on("change","#modules",function () {
        var idp=$("#modules").val();
         $.post('mantenimiento/profilemodul/json_profilemodul/',{'id':idp ,'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},function (data) {
   console.log(data)
                var h="";
                h=h+"<select id='accion' name='accion' > ";
                h=h+"<option value='0'>Seleccione...</option> "
                for(i=0;i<data.length;i++){
                      h=h+"<option value='"+data[i].id+"'>"+data[i].codename+"</option> ";
                }

                h=h+"</select> ";
             $("#accion").html(h);

        },'json');
    });

    function add_mp(t) {
        tx=$(t).serialize();
        console.log(tx);
        $.post('mantenimiento/profilemodul/add_profilemodul/',tx).done(function (data) {
            console.log("ok");

            $("#modal").modal("hide");
            return false;
        });

        $("#modal").modal("hide");
        return false;
    }

</script>