<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
formulario de envio
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Cargar Archivo</label>
    <input type="file" name="file"><br>
    <button type="submit">Cargar</button>
</form>
</body>
</html>