#logo-container{
    font-size: 1.2em;
}

.tt-nav.sticky .header-sticky,
.tt-nav.transparent-header {
    position: fixed;
    width: 100%;
    background-color: transparent;
}


html,
body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #13271c;
}


/* Material Button Style
/* ------------------------------ */
.btn {
    height: 50px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 2px;
    background-color: #03a9f4; /*brand primary color*/
    border: 0;
}

.btn-lg {
    padding: 12px 38px;
}

/*button size in extra small devices*/
@media screen and (max-width: 767px) {
    .btn-lg {
        height: auto;
        font-size: 14px;
        padding: 8px 25px;
    }
    #logo-container{
        font-size: 1.1em;
        margin-left: 220px;
    }
}

.btn:hover{
    background-color: #03a9f4;
}

.btn.active,
.btn:active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn i.material-icons {
    font-size: 20px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}
.btn:focus,
button:focus {
    outline: none !important;
}

/* Customize Material Form style
/* ------------------------------------ */
.form-control {
    border-radius: 0;
}
.input-field {
    margin-top: 45px;
}
.input-field label {
    color: #999;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}
.input-field label.active {
    font-size: 12px;
}

.alert {
    padding: 12px 15px;
}

.banner-12 {
    background-color: rgb(45, 51, 60);
    background-image: url("/static_collected/assets/img/banner/banner-12.jpg");
}

/* ================= Preloader ==================== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 999999;
    text-align:center;
}

#preloader .preloader-position{
    width:100%;
    margin:0 auto;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#preloader .progress{
    height: 2px;
    margin: 35px 0;
}
#preloader .progress .indeterminate{
    background:#03a9f4;
}

#msmlogin{
    color: #eaeaea;
    background: rgba(185, 36, 36, 0.31);
    padding: 6px 15px;
}
 #pace-progress {
          width: 100%;
          background-color: rgba(221, 221, 221, 0.17);
}

#pace-bar {
    width: 1%;
    height: 7px;
    background-color: #ff6a00;
}

@media (max-width: 768px) {
    .padding-top-80 {
        padding-top: 0;
    }
    .input-field label{
        color:#d4e2e0;
    }
    input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
            border-bottom: 1px solid #d4e2e0;
    }
}
input:not(.browser-default){
    color:white;
}