<aside class="yaybar yay-shrink yay-hide-to-small yay-gestures yay-light yay-static">
    <div class="top">
        <div><!-- Sidebar toggle -->
            <a class="yay-toggle">
                <div class="burg1"></div>
                <div class="burg2"></div>
                <div class="burg3"></div>
            </a><!-- Sidebar toggle --><!-- Logo -->
            <a class="brand-logo">
            </a><!-- /Logo -->
        </div>
    </div>
    <div class="nano has-scrollbar">
        <div class="nano-content" tabindex="0">
            <ul>
                <li class="label">Menu</li>
                {% if modulo %}
                {% for m in modulo %}
                <li>
                    {% if m.permissions__module__father == 0 %}
                    <a class="yay-sub-toggle waves-effect waves-blue" title="{{m.permissions__module__description}}">
                        <i class="glyph-icon {{m.permissions__module__icon__html_class}}"></i>
                        <span>{{m.permissions__module__description}}</span>
                        <span class="yay-collapse-icon mdi-navigation-expand-more"></span>
                    </a>

                    <ul id="f{{m.permissions__module__description}}">
                        {% with idpadre=m.permissions__module_id %}
                        <li>
                            {% for n in modulo %}
                            {% if n.permissions__module__father == idpadre %}
                        <li>
                            <a title="{{n.permissions__module__description}}"
                               href="#{{n.permissions__module__url}}"
                               father="f{{m.permissions__module__description}}"
                               class="waves-effect waves-blue"
                               onclick="clickmenu(this,'{{n.permissions__module__url}}')"
                            />
                            <span>
                                                            <i class="{{n.permissions__module__icon__html_class}}"></i>
                                                            {{n.permissions__module__description}}
                                                        </span>

                            </a>
                        </li>


                        {% endif %}
                        {% endfor %}
                        </li>
                        {% endwith %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}

                {% else %}
                <br>
                <div class="alert alert-warning">
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-warning"></i>
                    </div>
                    <div class="alert-content">
                        No se encontro ningún Módulo contacte con el Administrador

                        <a title="Link">:(</a></p>
                    </div>
                </div>

                {% endif %}

            </ul>
        </div>
        <div class="nano-pane" style="display: none;">
            <div class="nano-slider" style="height: 1563px; transform: translate(0px, 0px);"></div>
        </div>
    </div>
</aside>

