
<!--registrar sub module-->
<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 56%" ><b>REGISTRAR NUEVO</b></span>
    <!--a href='#admn_caja/cajas/add?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a-->
</div>


<div id="m">
    <div class='card'>
  <div class='card-content'>
        <div class="row">
            <form  id = "Formmodule"  method="POST" accept-charset="utf-8" class="form-inline" >
                {% csrf_token %}
                  <div class="col s4 input-field">
                      {{formulario.description}}
                      <label for="id_description" class="active">Nombre del Módulo</label>
                  </div>

                  <div class="col s4">
                      <label for="id_icon" class="active">Ícono</label>
                      <select  class="select2 module"  id="id_icon" style="width: 200px" name="icon"></select>
                  </div>
                <div class="col s2">
                    <div class="switch m-b-md">
                        <label for="">Crear APP</label><br>
                        <label>
                            NO
                            <input type="checkbox" name="app" >
                            <span class="lever"></span>
                            SI
                        </label>
                    </div>
                    <input type="hidden" name="url" value="" id="url_m">
                </div>
                <div class="col s2">
                  <br><input type="button"  id="registermodule" value="Agregar" class="waves-effect waves-light btn green">
                </div>

            </form>
        </div>
        </div>
    </div>
    <!-- reistrar-->



    <div class="row">
        <div class="col s6">
            <div class='card-panel'>
            <div align="center">
             <label> MÓDULO</label>
            </div>
                <div id="modul" class="">
                <table class="responsive-table bordered striped">
                    <tbody id="m1">

                   </tbody>
                </table>
                </div>
          </div>
        </div>

        <div class="col s6">
            <div class='card-panel'>
            <div align="center">
             <label> SUBMÓDULO</label>
            </div>

               <div id="submodul">
                   <table class="responsive-table bordered striped">
                      <tbody id="sub">          

                      </tbody>
                    </table>
               </div>
          </div>
            </div>

    </div>
        </div>

<!-- Modal -->
<div id="myModal" ></div>

<script type="text/templates" id="tFormMod">
        <form id="formM">
            {% csrf_token %}
            <input type='hidden' name='father' value='<%= id %>'/>
            <% _.each(data, function(i,k){   %>
            <label>Descripción:</label>
            <input id='id_description' type='text' class='form-control' value='<%= i.description.toLowerCase() %>' name='description'>
            <label>Icono:</label><br>
            <select  id='id_icon' class='form-control moduleB' style='width:100%'   name='icon'>
                <option value='<%= i.icon_id %>'></option>
            </select><br>
            <% }) %>
        </form>
</script>


<script type="text/templates" id="tFormSubM">
        <form id="formSubM">
            {% csrf_token %}
                <input type='hidden' name='father' value='<%= id %>'/>

                <% if (data != null){ _.each(data, function(i,k){   %>
                <label>Descripción:</label>
                <input type='text' id='id_description' value='<%= i.description %>'
                       class='form-control' onkeyup='kdes(this,"<%= de.toLowerCase() %>")' name='description'/>
                <label>Icono:</label>
                <br>
                <select  class='form-control moduleA' id='id_icon' style='width:100%'  name='icon'>
                    <option value='<%= i.icon_id %>'><%= i.icon__clase %></option>
                </select>
                <br>
                <div >
                    <label>nombre de Url</label>
                    <input name='url' id='url' type='text' class='form-control' value='<%= i.url %>/' >
                     <input type='hidden' name='ct' id="ct" value='<%= i.url %>'/>
                    <!--<input name='url' id='url' type='hidden'  value='<%= i.url %>/'>-->
                </div>
            <% }) }else{ %>
                <label>Descripción:</label>
                <input type='text' id='id_description' value=''
                       class='form-control' onkeyup='kdes(this,"<%= de.toLowerCase() %>")' name='description'/>
                <label>Icono:</label>
                <br>
                <input type="hidden" name="modulo" value="<%=de%>">
                <select  class='form-control moduleA' id='id_icon' style='width:100%'  name='icon'>
                </select>
                <br>
                <div >
                    <label>nombre de Url</label>
                    <input name='url' id='url' type='text' class='form-control' value='<%= de.toLowerCase()%>/' >
                </div>
                <div class="switch m-b-md">
                    <label for="">Importar CRUD</label><br>
                    <label>
                        no
                        <input type="checkbox" name="crud" >
                        <span class="lever"></span>
                        si
                    </label>
                </div>
            <% } %>
        </form>
</script>

<script type="text/templates" id="tmodule">
    <% _.each(data, function(i,k){ if (i.father==0){  %>
        <tr>
            <td class="center-align"><%= k+1 %></td>
            <td class="center-align">
                <i class="<%= i.icon__clase %>"/>
            </td>
            <td class="left-align" style="text-transform:uppercase;">
                <%= i.description %>
            </td>
            <td class="center-align">
                <a class="puntero" onclick="UpdateMod(<%= i.id %>)">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
            <td class="center-align">
                <a class="puntero" onclick="DeleteMod(<%= i.id %>)">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            <td class="center-align">
                <a class="puntero"  onclick="SeeSubMod(<%= i.id %>,'<%= i.description %>')">
                    <i class="fa fa-share"></i>
                </a>
            </td>
        </tr>
    <% } }) %>
</script>


<script type="text/template" id="tsubmodule">

    <% _.each(data, function(i,k){ %>
    <tr>
        <td class="center-align"><%= k+1%></td>
        <td class="center-align">
            <i class="<%= i.icon__clase %>"/>
        </td>
        <td class="left-align"><%= i.description %></td>
        <td class="center-align">
            <a class="puntero" onclick="updateSubM(<%= i.id %>,'<%= d %>','<%= p %>')">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </td>
        <td class="center-align">
            <a class="puntero"  onclick="deleteSubMod(<%= i.id %>,'<%= d %>','<%= p %>')">
                <i class="fa fa-trash"></i>
            </a>
        </td>
            <td class="center-align">
                <a class="puntero" onclick="crear_crud('<%=d%>','<%= i.description %>')">crear_crud</a>
            </td>
    </tr>
    <% }) %>

</script>
{% load static %}

<script src="{% static 'assets/system/js/appSecurity/base.js' %}"></script>
<script src="{% static 'assets/system/js/appSecurity/module.js' %}"></script>
<script src="{% static 'assets/system/js/appSecurity/submodule.js' %}"></script>