<div class="row  jumbotron">
    <div class="col s12 m12 l12  jumbotron-text">
        <h4 align="center">Hola {{ user.names|title }} {{ user.first_surname|title }} {{ user.second_surname|title }},</h4>
        <h5 align="center">Gracias por Ingresar a Mindi</h5>
        <br>
        <div align="center">
            {% if request.session.institucion %}
            <img style="width: 12% ; max-height: 12%;" class="responsive-img"
                 src="{{ MEDIA_URL }}{{ request.session.institucion.logo }}" alt="">
            {% else %}
            <p style="color:red">No esta registrado a ninguna institución, comunicar al administrador</p>
            {% endif %}
        </div>
    </div>
</div>






