<h4 align="center">ACTUALIZAR DATOS</h4>
<form  onsubmit="guardar_perfil(this,'editarcuenta/'); return false">
        {% csrf_token %}
        <div class="col s12 l5 m5 ">
            <label class="col l5 m5 s12"  >Usuario:</label>
            <div class="col s12 m7 l7" >
                <input type="hidden" name="institucion_id" value="{{ request.session.institucion.id }}">
                    {{form.username}}
            </div>
       </div>
       <div class="col s12 m7 l7">
                <label class="col s12 l5 m5" >Nombres:</label>
                <div class="col s12 m7 l7">
                    {{form.names}}
                </div>
       </div>

        <div class="col s12 l5 m5">
                <label class="col s12 l5 m5" >Ap. paterno:</label>
                <div class="col s12 m7 l7">
                    {{form.first_surname}}
                </div>
        </div>
       <div class="col s12 m7 l7">
                <label class="col s12 l5 m5" >Ap. Materno:</label>
                <div class="col s12 m7 l7">
                    {{form.second_surname}}
                </div>
       </div>
        <div class="col s12 l5 m5">
                <label class="col s12 l5 m5" >Email:</label>
                <div class="col s12 m7 l7">
                    {{form.email}}
                </div>
        </div>
       <div class="col s12 m7 l7">
                <label class="col s12 l5 m5" >Fecha Nacimiento:</label>
                <div class="col s12 m7 l7">
                    {{form.birth_date}}
                </div>
       </div>
        <div class="col s12 l5 m5">
                <label class="col s12 l5 m5" >Celular:</label>
                <div class="col s12 m7 l7">
                    {{form.cellphone}}
                </div>
        </div>
       <div class="col s12 m7 l7">
                <label class="col s12 l5 m5" >Telefono:</label>
                <div class="col s12 m7 l7">
                    {{form.telephone}}
            </div>
       </div>
        <div class="col s12 l5 m5">
                <label class="col s12 l5 m5" >Dirección:</label>
                <div class="col s12 m7 l7">
                    {{form.address}}
                </div>
        </div>
       <div class="col s12 m7 l7">
                <label class="col s12 l5 m5" >Sexo:</label>
                <div class="col s12 m7 l7">
                    {{form.sex}}
                </div>
       </div>
       <div class="col s12 l5 m5">
                <label class="col s12 l5 m5" >Estado Civil:</label>
                <div class="col s12 m7 l7">
                    {{form.civil_status}}
                </div>
       </div>
        <div class="col s12 m7 l7">

        </div>
        <div align="center">
            <input  type="submit" value="Actualizar" class="btn btn-primary">
        </div>
</form>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>