{% load static %}
<nav class="navbar-top">
        <div class="nav-wrapper">
            <a href="#" class="yay-toggle"><div class="burg1"></div><div class="burg2"></div><div class="burg3"></div></a>
            <!-- Logo -->
            <a href="/" class="brand-logo" >
                <img src="{% static 'media/mindi.png' %}"  style="height:35px; vertical-align: middle;" class="responsive-img" alt="">
            </a>

            <!-- /Logo -->

            <!-- Menu -->
            <ul>


                <li class="user">
                    <a class="dropdown-button" data-target="user-dropdown" >
                        <img src="
                                {% if user.foto %}
                                    {{ MEDIA_URL }}{{user.foto}}
                                {% elif user.foto_url %}
                                    {{user.foto_url}}
                                {% else %}
                                    {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                {% endif %}"  alt="{{ user.names }}" class="circle">
                        {{user.username}}
                        <i class="mdi-navigation-expand-more right">

                        </i>
                    </a>

                    <ul id="user-dropdown" class='dropdown-content'>
                        <li>
                            <a href="#{% url 'editcuenta' %}">
                                <i class="fa fa-user"></i> Perfil
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'cerrarsesion' %}">
                                <i class="fa fa-sign-out"></i> Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /Menu -->

        </div>
    </nav>
    <!-- /Top Navbar -->

