{% extends 'base_security.html' %}
{% block title %}
{% if request.session.institucion %}
{{ request.session.institucion.iniciales }} - mindi
{% else %}
No esta registrado a ninguna institución, comunicar al administradorc
{% endif %}

{% endblock  %}
{% block css %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/icon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/materialize.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/system/css/system.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/lobibox/css/lobibox.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/select2/css/select2.min.css' %}"/>
<style>
    .yaybar {
        width: 200px;
    }

    .yaybar.yay-shrink ~ .content-wrap, .yaybar.yay-shrink ~ .load-spinner, .yaybar.yay-shrink ~ footer {
        margin-left: 200px;
    }

    .navbar-top, .navbar-top .button-collapse.sp-cancel, .navbar-top a.button-collapse {
        height: 55px;
        line-height: 55px;
    }

    .yay-toggle div:after {
        background: white;
    }

    .yay-toggle div:before {
        background: white;
    }

    .yay-toggle {
        padding-top: 20px;
    }

    .yaybar .nano > .nano-content {
        overflow: auto;
    }
/* ================= Preloader ==================== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 999999;
    text-align: center;
}

#preloader .preloader-position {
    width: 100%;
    margin: 0 auto;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#preloader .progress {
    height: 2px;
    margin: 35px 0;
}

#preloader .progress .indeterminate {
    background: #03a9f4;
}
</style>
{% endblock %}

{% block contenido %}

{% include "system/header.html" %}
{% include "system/module/modules.html" %}
<section class="content-wrap">
    <div class="row" id="r-tab">
        <div class="col s12 m12" id="tab-p"></div>
    </div>
    <div id="resultados" class="container">
        <div id="ejemplo"></div>
    </div>
</section>
<!-- /Main Content -->
<!-- Preloader -->
<div id="preloader" style="display: none">
    <div class="preloader-position">
        <span style="color: deepskyblue; font-size: 3em">... Loading Mindi!</span>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
{% endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'assets/jquery/js/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/datatables/js/datable-es.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lobibox/js/lobibox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/select2/js/es.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/underscorejs/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/loader/js/introLoader.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/_con/js/_con.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/haschange/js/hashchange.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/system/js/appSecurity/base.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/system/js/appSecurity/baseMantenimiento.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/system/js/script.js' %}"></script>
<script>
    $(".loaded").addClass("yay-hide");
</script>
{% endblock %}
