{% extends "base_security.html" %}
{% block title %}
	mindi
{% endblock  %}

{% block css %}

 {% load static %}
   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />
    <style>
        .jumbotron {
            padding-top: 10px;
            margin-bottom: 10px;
            color: rgba(18, 143, 166, 0.77);
            background-color: rgba(14, 175, 242, 0.02);
        }
        .jumbotron h4 {
            font-size: 60px;
            letter-spacing: -2px;
            line-height: 1;
            margin: 0 0 15px;
            text-shadow: 4px 3px 0 rgba(45, 156, 174, 0.49),9px 8px 0 rgba(57, 182, 215, 0.08);
        }
        .ammm {
            margin-bottom: 10px;
            color: rgba(217, 0, 2, 0.89);
            background-color: rgba(38, 115, 174, 0.01);
        }
        .ammm h3 {
            font-size: 25px;
            letter-spacing: -2px;
            line-height: 1;
            margin: 0 0 15px;
            text-shadow: 6px 3px 0 rgba(165, 17, 11, 0.19)
        }
        #estes{
            color: rgba(220, 41, 74, 0.93);
            margin-left: 270px;
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class=" col s3 ammm">
            <div  class="ammm-text" >
                <a  href="/salir" >
                    <h3 id="estes" class="fa fa-mail-reply" ><b> SALIR</b></h3>
                </a>
            </div>
        </div>
        <div class="col s9 jumbotron ">
            <div class="col s12 m12 l12  jumbotron-text">
                 <h4  align="center"  style="  margin-right: 190px">
                     LISTA DE PERFILES DE ACCESO</h4>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="pricing-table">
            {% if profile %}
                {% for s in profile %}
                        <div class="pt-col-3">
                            <div class="pt-header" >
                                <div class="pt-title" >{{ s.description|upper }}</div>
                            </div>
                            <div class="pt-footer" >
                                <a href="?sys={{ s.id }}" class="btn btn-primary z-depth-0" role="button">Entrar!</a>
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <div class="pt-col-12">
                    <div class="pt-header" >
                        <div class="pt-title" >ERROR</div>
                    </div>
                    <div class="pt-header" >
                        <div class="pt-title" >Perfil no asignado, contactar al administrador del sistema</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock%}

{% block js %}

{% endblock %}