<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE PERMISOS</b></span>
    <a href='#matenimientos/permission/add/?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>

<div class="row">
    <div class="col s10">
        <div class="card">
    <div class="card-content">
        <table class="striped">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Descripción</td>
                    <td>Módulo</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                {% for foo in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ foo.descripcion }}</td>
                        <td>{{ foo.idmodulo__description}}</td>
                        <td>
                            <a style="color: red" href="#matenimientos/permission/update/{{ foo.id}}/?id={{ foo.id}}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                        <td>
                            <a style="color: red" onclick="delete_maintenance('matenimientos','permission',{{ foo.id}})" style="cursor: pointer">
                                <i class="fa fa-trash puntero"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
    </div>
    <div class="col s2">
        <div class="card">
            <div class="card-content">
                <b align="center">Filtro</b>
                <hr>

                    {% for m in module %}
                        {% if m.father == 0  %}
                                <ul><b>{{m.description}}:</b>
                                    <li>
                                        <a {% if request.GET.id_module == '' %} style="color:green"
                                               {% endif %} onclick="change_url('id_module',{{ m.id }})">Todo</a>

                                    </li>
                                    {% with idpadre=m.id %}

                                            {% for n in module  %}
                                                {% if n.father == idpadre  %}
                                                    <li>
                                                        <a {% if request.GET.id_module|slugify == n.id|slugify %} style="color:green"
                                                           {% endif %}
                                                           onclick="change_url('id_module',{{ n.id }})">* {{n.description}}</a>
                                                    </li>

                                                {% endif %}
                                            {% endfor %}
                                    {% endwith %}
                                </ul>

                        {% endif %}
                    {% endfor %}


            </div>
        </div>

    </div>
</div>

<script>
$('table').dataTable(datEs);
</script>

