<style>
    .all_dd{
        display: none;
    }
    .p_active{
        display: block;
    }
    .btn{
        background: white;
        color: #0a6aa1;
    }
    .blue{
        color: white;
    }
</style>


<div class='card'>
  <div class='card-content'>
    <div class="col s12 m12 l12">
        <h4 align='center' style='color: #3293a2'><b>{{ name|upper }} TEST PROGRAMADOS</b></h4>
        <a onclick='atras()' style='color: rgb(6, 107, 123); cursor: pointer'>
          <i class='fa fa-backward'></i>
          Atras
        </a>
    </div>
    <div class='row'>
      <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'Test_Programed','adm_test' );return false;"
      >
        {% csrf_token %}
        <div class='col s12 m3 l3 offset-l2'>
            {% if request.GET.program_test %}
                <input type="hidden" name="program_test" value="{{ request.GET.program_test }}">
                {% else %}
                {{ form.program_test.label_tag }}
                {{ form.program_test }}
            {% endif %}
            {{ form.test.label_tag }}
            {{ form.test }}

        </div>
        <div class='col s12 m2 l2'>
          <div class='input-field'>
            {{ form.date }}
            {{ form.date.label_tag }}
          </div>
        </div>
        <div class='col s12 m2 l2'>
          <div class='input-field'>
            {{ form.time }}
            {{ form.time.label_tag }}
          </div>

        </div>
        <div class='col s12 m12 l10 offset-l2' >
          <div class='col s12 m10 l10'>
              <div class="col s12 m6 l6" align="right">
                  <b class="btn blue" idd="b_student">Alumnos</b>
              </div>
              <div class="col s12 m6 l6"  align="left">
                  <b class="btn" idd="d_directive">Personal de la IE</b>
              </div>
              <div id="b_student" class="all_dd p_active">
                  <div class="col s12 m2 l2" id="room_c">
                    <p>
                        <input type="checkbox" class="filled-in" id="c_all">
                        <label for="c_all">Todo</label>
                    </p>
                    <div id="all_classroom">
                        {% for foo in patient %}
                            <p>
                              <input type="checkbox" class="filled-in" id="c_{{ foo.id }}" />
                              <label for="c_{{ foo.id }}">{{ foo.grado }} "{{ foo.seccion }}"</label>
                          </p>
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col s12 m10 l10" >
                       <div class="input-field">
                          <i class="material-icons prefix">search</i>
                          <input type="search" cls="f_student"/>
                          <label >Buscar Alumno</label>
                      </div>
                    <div id="all_student">

                    {% for foo in patient %}
                        <div class="c_{{ foo.id }}">
                        <p>{{ foo.grado }} "{{ foo.seccion }}"</p>
                            {% for s in foo.student.all %}
                                    <p class="f_student">
                                       <input type="hidden"  class="ih_{{ s.id }}">
                                      <input type="checkbox"   class="filled-in" id="{{ s.id }}" />
                                      <label for="{{ s.id }}">{{ forloop.counter }} - {{ s }}</label>
                                    </p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>


                    </div>
              </div>
              <div id="d_directive" class="all_dd">
                  <div class="col s12 m3 l3" id="room_d">
                    <p>
                        <input type="checkbox" class="filled-in" id="d_all">
                        <label for="d_all">Todo</label>
                    </p>
                    <div id="all_occupation">
                        {% for foo in dir %}
                            <p>
                              <input type="checkbox" class="filled-in" id="c_{{ foo.id }}" />
                              <label for="c_{{ foo.id }}">{{ foo.name|title }}</label>
                          </p>
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col s12 m9 l9" >
                       <div class="input-field">
                          <i class="material-icons prefix">search</i>
                          <input type="search" cls="f_directive"/>
                          <label >Buscar Directivo</label>
                      </div>
                    <div id="all_directives">

                        {% for foo in dir %}
                            <div class="c_{{ foo.id }}">
                            <p>{{ foo.name|title }}</p>
                            {% for u in foo.directives %}
                                <p class="f_directive">
                                    <input type="hidden" class="ih_{{ u.id }}">
                                    <input type="checkbox"   class="filled-in" id="{{ u.id }}" />
                                    <label for="{{ u.id }}">{{ forloop.counter }} - {{ u }}</label>
                                </p>
                            {% endfor %}
                                <br>
                            </div>
                        {% endfor %}
                   </div>
                 </div>
             </div>
        </div>

      <div class="col s12 m12 l12" align='center'>
          <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
            <i class='material-icons'>send</i>{{ name }}
          </button>
      </div>
      </form>
    </div>
  </div>
</div>
<input type="hidden" id="idtest_prod" value="{% if request.GET.id %}{{request.GET.id }}{% endif %}">
<!-- Modal -->
<div id='myModal'> </div>
<script>
    $('select').addClass("browser-default");
    $("label").addClass('active').attr({'data-error':'Correcto','data-success':'Incorrecto'});
    M.updateTextFields();
    function check_one(t, c) {
        ch = $(t).prop('checked');
        if(ch){
            v = $(t).attr('id');
            $(c+" .ih_"+v).attr('name','patient').val(v);
        }else{
            v = '';
            $(c+" .ih_"+$(t).attr('id')).attr('name','').val(v);
        }
    }
    $("#all_student input[type=checkbox]").click(function (e) {
        check_one(this, '#all_student');
    });
    $("#all_directives input[type=checkbox]").click(function (e) {
        check_one(this, '#all_directives');
    });

    function check_all(t,ac,s,ca) {
        ch = $(t).prop('checked');
        if ($(t).attr('id')==ca){
            $.each($(ac+" input[type=checkbox]"),function () {
                $(this).prop('checked',ch);
                $.each($("."+$(this).attr('id')+" input[type=checkbox]"),function () {
                    $(this).prop('checked',ch);

                            if(ch){
                                v = $(this).attr('id');
                                $(s+" .ih_"+v).attr('name','patient').val(v);
                            }else{
                                v = '';
                                $(s+" .ih_"+$(t).attr('id')).attr('name','').val(v);
                            }
                });
            });
        }else{
            $("."+$(t).attr('id')).prependTo(s);
            $.each($("."+$(t).attr('id')+" input[type=checkbox]"),function () {
                $(this).prop('checked',ch);
                    if(ch){
                        v = $(this).attr('id');
                        $(s+" .ih_"+v).attr('name','patient').val(v);
                    }else{
                        v = '';
                        $(s+" .ih_"+$(this).attr('id')).attr('name','').val(v);
                    }
            });
        }
    }

    $("#room_c input[type=checkbox]").click(function () {
        check_all(this,'#all_classroom',"#all_student","c_all")
    });
    $("#room_d input[type=checkbox]").click(function () {
        check_all(this,'#all_occupation',"#all_directives","d_all")
    });

    $("input[type=search]").keydown(function() {
        cls = $(this).attr('cls');
        var rex = new RegExp($(this).val(), 'i');
        $('.'+cls).hide();
        $('.'+cls).filter(function () {
            return rex.test($(this).text());
        }).show();
    });

    $(".btn").click(function () {
        $(".btn").removeClass('blue');
        $(this).addClass('blue');
        $(".all_dd").removeClass('p_active');
        $("#"+$(this).attr('idd')).addClass('p_active');
    });

    idpro = $("#idtest_prod").val();
     console.log(idpro);
    if (idpro){
        $.get('adm_test/History_test_Patient/list_json/?idp='+idpro).done(
            function (da) {
                da= eval(da);
                $.each($("input[type=checkbox]"),function () {
                    v= $(this).attr('id');
                    console.log(v);
                    if ($.inArray(v,da)>0){
                        console.log("yes");
                        $(this).prop('checked',true);
                        $(".ih_"+v).val(v).attr('name','patient');
                    }
                });
            }
        )
    }


</script>