<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE PERFILES</b></span>
    <a href='#security/profile/add/?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>

<div class='card'>
    <div class='card-content'>

<div class="row">
    <div class="col s12">
        <table id="t_pro" class="table table-bordered table-hover table-condensed striped responsive-table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>descripción</th>
                    <th>Usuarios</th>
                    <th>actualizar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody >

            </tbody>
        </table>

    <div id="form_profile"></div>
    </div>
</div>
</div>
</div>



<script type="text/template" id="tbo">
    <% _.each(data, function(i,k){  %>
        <tr>
            <td><%= k+1 %></td>
            <td><%=i.description%> </td>

            <td>
                <a  style="color: #00bca4"  href="#security/profile/usuarios_profile/?id=<%=i.id%>">
                    <i class="fa fa-user"></i>
                </a>
            </td>
            <td>
                <a style="color: red" href="#security/profile/update/<%=i.id%>/?id=<%=i.id%>">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
            <td>
                <a style="color: red"  onclick="deleteprofile(<%=i.id%>)" style="cursor: pointer">
                    <i class="fa fa-trash puntero"></i>
                </a>
            </td>

        </tr>
    <% }) %>
</script>

{% load static %}
<script src="{% static 'assets/system/js/appSecurity/base.js' %}"></script>
<script src="{% static 'assets/system/js/appSecurity/profile.js' %}"></script>


<script>
$('table').dataTable(datEs);
</script>