<h4 align='center'>{{ name|upper }} CLASSROOMS </h4>
<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><br>
<div class='row'>
  <form onsubmit="save_maintenance(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'Classroom','adm_institucion' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.name }}
        {{ form.name.label_tag }}
      </div>

      <div class='input-field'>
        {{ form.grado }}
        {{ form.grado.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.seccion }}
        {{ form.seccion.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.student }}
        {{ form.student.label_tag }}
      </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id='btn_envio'>
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>