<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><br>
<h4 align='center' style='color: #3293a2'><b>LISTA DE ALUMNOS DE {{ object_list.0.grado }}° "{{ object_list.0.seccion|upper }}"</b></h4>
<hr>
<div class="row">
    <div class="col s12 m12 12">
        <form id="file_data_s">
             {% csrf_token %}
            <input type="file" required name="file"  value="cagar alumnos">
            <input type="hidden" name="rc" value="{{ request.GET.cr }}">
            <input type="hidden" name="room" value="{{ object_list.0.grado }}{{ object_list.0.seccion|lower }}">
            <button class="btn btn-floating green" type="submit" name="action">
                <i  class="fa fa-arrow-circle-o-right"></i>
            </button>
        </form>
    </div>
</div>

<div class='card'>
  <div class='card-content'>
    <table class="table table-condensed responsive-table">
      <thead>
        <tr>
          <td>#</td>
          <td>Apellidos y Nombres</td>
          <td>Dni</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        {% for foo in foo.student.all %}
                <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.first_surname|title}} {{ foo.second_surname|title}}, {{ foo.names|title}}</td>
          <td>{{ foo.dni}}</td>
          <td>
            <a style='color: red' href='#adm_institucion/Classroom/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red' onclick="delete_maintenance('adm_institucion','Classroom',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
        {% endfor %}


      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% load static %}
<script>
$('table').dataTable(datEs);
$("#file_data_s").submit(function (e) {
   e.preventDefault();
   $("button[type=submit]").attr("disabled","true");
    formData = new FormData($(this)[0]);
    console.log(formData);
    $("#preloader").fadeIn("slow");
    $("#preloader span").html("..Saving Data - Mindi :)!");
    $.ajax({
            url: 'adm_institucion/Classroom/cargaralumnos/',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,

            success: function(da){
                $("#preloader").fadeOut("slow");
                noti('success', da);
                traemedatos('adm_institucion/Classroom/alumnos/?cr={{ request.GET.cr }}');
                return false;
            },
            error: function (r) {
                $('.errorlist').remove();
                var errors = JSON.parse(r.responseText);
                        for (e in errors) {
                            var id = '#id_' + e;
                            $(id).after(errors[e]);
                        }
                return false;
            }

    });

});
</script>