{% load static %}
<!-- Sign In Form -->
        <form onsubmit="loginP(this); return false;">
            {% csrf_token %}
            <div class="links" align="center">
                <h2>INICIAR SESIÓN</h2>
            </div>

            <div class="card-panel clearfix">
                <div class="row">
                    <div class="col s12">
                        <div  id="msmlogin" class="alert-dismissible hide" align="center">
                            <!--<span class="puntero" onclick="cerraralert('#msmlogin')">&times;</span> -->
                        </div>
                    </div>

                </div>
                <hr>
                <!-- Username -->
                <div class="input-field">
                    <i class="fa fa-user prefix"></i>

                    {{ form.username }}
                    <label for="username-input">Usuario</label>
                </div>
                <!-- /Username -->

                <!-- Password -->
                <div class="input-field">
                    <i class="fa fa-unlock-alt prefix"></i>
                    <label for="password-input">Contraseña</label>
                    {{ form.password }}
                </div>
                <!-- /Password -->


                  <button class="btn" type="submit" name="action"> Ingresar <i class="mdi-content-send right"></i> </button>
            </div>

            <div class="links right-align">
                <a href="/reset/password_reset">olvidé contraseña?</a>
            </div>

        </form>
        <!-- /Sign In Form -->
<script>
    function cerraralert(i) {
    $(i).addClass('hide');
}
</script>